{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}CD Material Delivery {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<style>
    /* .app_card a{ color: #333;}
    .app_card a:hover{ text-decoration: none;}
    p{ padding: 0; margin: 0;}
    body{ font-family: 'muli', sans-serif !important; font-weight: 500;}
    .form_label{ max-width:1000px !important}
    .card, .card-panel{  display: inline-block; width: 100%;} 
    .main-header { padding: 10px; border-radius: 3px;}
    .card-body ul li, .card-footer ul li{ display: inline-block; width: 100%; } 
    .card-body ul li p, .card-footer ul li p { margin: 0;}
    .card-body.pb-0{ padding-bottom: 0 !important; padding-top: 5px !important}
    .status{ color: #2957A4; font-size: 0.9em;}
    .app_card p{ font-size: 0.9em;}
    .contact_link a:hover{ text-decoration: underline; color: #2957A4  !important; }
    .contact_link a{ text-decoration: underline; color: #e35d2d !important; } */
</style>
<div class="p-2 pt-0 form_label" style="width: 100%;">
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{msg.message}}
        </div>
      {% endfor %}
    {% endif %}
    {% include 'ujjwala/connection-disbursement/forms/application_search.html' %}
    <div class="main-header bg-heading" style="background-color: #2957A4;">
        <span class="text-white">Material Delivery</span>
    </div>
    {% for obj in object_list %}
    <div class="card mb-2 app_card">
        <a href="{% url 'ujjwala:connection_disbursement_material_delivery_view' pk=obj.id %}" data-turbolinks="false">
            <div class="card-header">
                <p class="text-center"><b>{{ obj.status }}</b> <br>
                    Updated On <b>{{ obj.updated_on }}</b></p>
            </div>
            <div class="card-body pb-0 p-2 list_block">
                <ul class="m-0">
                    <li>
                        <p class="float-left">Application Id ({{ obj.parent_id }})</p>
                        <p class="float-right">Connection Disbursement Id({{obj.id}})</p>
                    </li>
                    <li>
                        <p class="float-left">Name</p>
                        <p class="float-right">{{ obj.parent.name }}</p>
                    </li>
                    <li>
                        <p><b>Address:</b>  {{ obj.parent.formatted_address }}</p>
                    </li>
                </ul>
                
            </div>
        </a>
        <div class="card-footer p-2">
            <ul class="m-0">
                {% for contact in  obj.parent.all_contacts %}
                    <li class="contact_link">
                        <p class="float-left">Phone {{ forloop.counter }}</p>
                        <p class="float-right">
                            <b> <a href="tel:{{ contact}}" onclick="return true;">{{contact}}</a></b>      
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
    
    {% endfor %}
</div>
    <!-- <table>

        <tr>
            <td colspan="2">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                            <input class="searchfield" id="searchbox" type="search" placeholder="Search..."/>
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th>Id</th>
            <th>Application Id</th>
            <th>Status</th>
        </tr>
        {% for obj in object_list %}
            <tr>
                <td><a href="{% url 'ujjwala:pre_inspection_form_view' pk=obj.id %}">{{ obj.pk }}</a><td>
                <td>{{ obj.parent_id }}</td>
                <td>{{ obj.status }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </td>
        </tr>
    </table> -->
    <script>
        window.onload=function(){

        const input = document.getElementById("input");
        const getName = document.getElementById("getName");

        getName.addEventListener("submit", e =>{
            // Prevent the form from submission
            e.preventDefault();
            // Get city name and store it in local storage
            var inputVal = getName.value;
            var api_url = "{apiurl}" + inputVal;
            // Get the dataset
            function refreshData() {
                fetch(api_url).then(response =>{
                    response.json().then(json => {
                        let dataset = json;
                        let output = formatResponse(dataset);

                    })
                    // Catch error - for example, the user doesn't input a valid name
                    .catch(error => console.log("not ok")); // TO BE IMPROVED
                })
            };
        });
     };
    </script>

{% endblock %}