{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/xzoom.css' %}" media="all" /> 
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<style>
    .hidden-field{ display: none;}
</style>
<div class="form_label p-2">
	<div class="card card-profile pt-0 mt-0 " style="width: 100%;" >
		<div class="row justify-content-center m-0" style="width: 100%; margin: 0 auto !important; padding: 10px;">
			<div style="width: 30%; float:left">
				<div class="card-profile-image">
					<a href="#">
						<img style="width:100%" src="{{obj.parent.document_self}}">
					</a>
				</div>
			</div>
			<div style="width: 70%; float:right">
				<div class="card-body pt-0">
					<div class="text-center">
						<h5 class="h3">{{ obj.parent.name }}({{ obj.parent.id }})<span class="font-weight-light"></span></h5>
						<div class="h5 font-weight-300">
							<i class="ni location_pin mr-2"></i>{{ obj.parent.contact_mobile }}
						</div>
						<div class="h5 mt-1" style=" word-wrap: break-word; font-size: 13px;">
							{% if address_json == address_json  %}
								{% for key,data in obj.parent.address_json.items %}
									{{data}},
								{% endfor %}
							{% else %}
								{{ obj.parent.address }}
							{% endif%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="mobile_review form_abc">
        <div class="row m-0">
            <div class="col-4 pl-1 pr-1">
                <a class="float-left mt-1" href="{{ form_abc.form_a_link }}">
                    <img style="width:100%; height: 100px;" src="{{ form_abc.form_a_link }}">
                    <span class="text-white btn btn-primary float-left mt-1 rounded-0" style="width:100%;">Form A</span>
                </a>
            </div>
            <div class="col-4 pl-1 pr-1">
                <a class="float-left mt-1" href="{{ form_abc.form_b_link }}">
                    <img style="width:100%; height: 100px;" src="{{ form_abc.form_b_link }}">
                    <span class="text-white btn btn-primary float-left mt-1 rounded-0" style="width:100%;">Form B</span>
                </a>
            </div>
            <div class="col-4 pl-1 pr-1">
                <a class="float-left mt-1" href="{{ form_abc.form_c_link }}">
                    <img style="width:100%; height: 100px;" src="{{ form_abc.form_c_link }}">
                    <span class="text-white btn btn-primary float-left mt-1 rounded-0" style="width:100%;">Form C</span>
                </a>
            </div>

        </div>
    </div>
    <div class="large-5 column mt-2 desktop_review">
        <div class="large-5 column">
            <div class="xzoom-container">
                <div class="row">
                    <div class="col-10">
                        <div class="zoom_imge_container">
                            <img class="xzoom" id="xzoom-default" src="{{ form_abc.form_a_link }}"/>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="xzoom-thumbs">
                            <a href="{{ form_abc.form_a_link }}" style="">
                                <img class="xzoom-gallery" width="80" height="80" src="{{ form_abc.form_a_link }}"
                                    xpreview="{{ form_abc.form_a_link }}" title="Form A">
                                <p class="form_lable text-white btn btn-primary  mb-2 rounded-0">Form A</p>
                            </a>
                            <a href="{{ form_abc.form_b_link }}">
                                <img class="xzoom-gallery" width="80" height="80" src="{{ form_abc.form_b_link }}"
                                title="Form B">
                                <p class="form_lable text-white btn btn-primary mb-2 rounded-0">Form B</p>
                            </a>
                            <a href="{{ form_abc.form_c_link }}">
                                <img class="xzoom-gallery" width="80" height="80" src="{{ form_abc.form_c_link }}"
                                title="The description goes here">
                                <p class="form_lable text-white btn btn-primary mb-2 rounded-0">Form C</p>
                            </a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <form method="post" id="form" >
        {% csrf_token %}
        <div class="card">
			<div class="p-2">
                <p>Review Form ABC</p>
                {{ form }}
            </div>
			<div class="card-footer p-1">
                <div class="row m-0">
                    <div class="col pl-0 pr-1">
                        <input class="text-white btn btn-danger float-left" type="submit" value="Submit And Back" name="_back_list_view">
                    </div>
                    <div class="col pr-0 pl-1">
                        <input class="text-white btn btn-danger float-right" type="submit" value="Submit And Next" name="_next_form_view">
                    </div>
                </div>
			</div>
        </div>
    </form>
</div>

<script type="text/javascript" src="{% static '/js/setup.js' %}"></script>
<script type="text/javascript" src="{% static '/js/xzoom.min.js' %}"></script>
<style>
	#xzoom-default{ width: 500px !important;}
	.xzoom{ max-height: 500px !important;}
    .xzoom-thumbs a{ display: inline-block;}
    .form_abc a{ width: 100%; }
    body .mobile_review.form_abc span,.desktop_review .form_lable{ height: 32px !important; line-height: 22px !important;}
    .desktop_review .xzoom-thumbs img{ margin:0 !important; float: left; width: 100%; }
    .desktop_review .xzoom-thumbs{ float: left; width: 100%;}
    .desktop_review .xzoom-thumbs .form_lable{  font-size: 12px !important; height: 32px !important; line-height: 22px !important;}
  </style>
{% endblock %}
