{% extends "admin/base.html" %}
{#{% extends "admin/base_site.html" %}#}
{% load static  %}
{% block extrahead %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    {{ form.media }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.css" rel="stylesheet">
	<script src="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.js"></script>

{% endblock %}

{% load i18n admin_modify admin_urls %}

{% block content %}
  <div id="content-main" class="inner-two-columns">


    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
      <div class="inner-center-column">
        {% csrf_token %}{% block form_top %}{% endblock %}

        <div class="tab-content tab-content-main">
            {{ form }}
            <div id="sv_uppy"></div>
      </div>
      <div class="inner-right-column">
        <div class="box save-box">
{#          {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}#}
            <input type="submit" value="Update">
        </div>
{#        {% block object-tools %}#}
{#        {% endblock %}#}
        {% block sidebar %}{% endblock %}
      </div>

        {% block after_related_objects %}{% endblock %}
      </div>
    </form>
  </div>

<script>
		var uppy_instance = new Uppy.Core({
			debug: true,
			autoProceed: true,
			restrictions: {
				maxFileSize: 50000000,
				maxNumberOfFiles: 1,
				minNumberOfFiles: 1,
				allowedFileTypes: ['.pdf'],
				//requiredMetaFields: ['caption'],
			}
		})
		.use(Uppy.Dashboard, {
			trigger: `#sv_uppy`,
			inline: true,
			target: `#sv_uppy`,
			showProgressDetails: true,
			note: 'SV PDF, 1 file, up to 10 MB',
			height: 250,
			metaFields: [],
			id: `#sv_uppy`,
			browserBackButtonClose: false
		})
		.use(Uppy.Tus, {
			endpoint: 'https://tus.dca.arungas.com/files/',
		});

		uppy_instance.on('complete', result => {
			console.log('successful files:', result.successful)
			console.log('failed files:', result.failed)
           jQuery('#id_sv_link').val(result.successful[0].uploadURL);
		});

</script>

{% endblock %}
