<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ obj.parent.id }} <br>
    {{ obj.parent.name }} <br>
    {{ obj.parent.formatted_address }} <br>
    <form id="page_form" method="post">
        {% csrf_token %}
        {{ form }}
        Auto-converting To {{ convert_to }}- Inspection in <span id="time_left"></span> Seconds
        <button type="button" onclick="cancelTimer()">Click to Cancel Conversion...</button>

    </form>

    <script>
        let TIMEOUT = 10;
        let timer = null;
        function startCountdown() {
            timer = window.setInterval(() => {
                TIMEOUT -= 1;
                if (TIMEOUT <= 0) {
                    document.getElementById('page_form').submit();
                }
                document.getElementById('time_left').innerHTML = TIMEOUT;
            }, 1000);
        }

        function cancelTimer() {
            window.clearInterval(timer);
        }

        startCountdown();

    </script>
</body>
</html>