{% extends "material/frontend/base_module.html" %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    body {
    background: #eee
}
.ico {
    width: 70px;
}
.action > div {
    width: 120px;
}
.action > div .btn {
    border-radius: 70px !important;
}
</style>
<div class="card">
    <div class="card-body d-flex justify-content-between">
        <div class="content d-flex align-items-center justify-content-between">
            <div class="ico">
                <span class="material-icons" style="font-size: 5rem;"> thumb_up</span>
            </div>
            <div class="main ml-3">
                <h1 class="m-0 font-weight-light h3">Thanks</h1>
                <p class="mb-1 small"> Inspection Completed Successfully</p>                
            </div>
        </div>

    </div>
</div>
{% endblock %}