<!DOCTYPE html>
<html>
<head>
    <title>ARUN GAS SERVICE</title>
    <link rel="icon" type="image/png" href="img/logo2.png">
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
    <link href="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,600,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js"></script>
    <script src="https://arungas.com/public/ujwalla/js/signature_pad.umd.js"></script>
    <link rel="stylesheet" href="https://arungas.com/public/ujwalla/css/signature-pad.css">
    <link rel="stylesheet" href="https://arungas.com/public/ujwalla/css/style.css">
</head>
<style>
    body{font-family: 'Montserrat'; }
    .uppy-Dashboard-AddFiles .uppy-Dashboard-AddFiles-title{ font-size: 12px !important; margin: 0 !important;}
    .uppy-Dashboard-innerWrap {
        /* width: 200px; */
        /* height:
        .200px; */
    }
    .uppy-Dashboard-inner .uppy-Dashboard-files{
        padding: 0 !important;
    }
    .uppy-Dashboard-inner .uppy-StatusBar.is-complete{ width: 50% !important;}
    .uppy-Dashboard-inner .uppy-StatusBar-actions{right: -100px !important; top: -38px;}
    .uppy-Dashboard-inner {
        /* width: 200px; */
        /* height: 200px; */
        border: 0;
        border-radius: 3px;
    }
    #family_members_tree p{margin-top: 0;
    margin-bottom: 1rem;
    font-size: 13px;
    font-weight: 500;}

    .uppy-Dashboard-Add -title {
        font-size: 12px;
        /* width: 100px; */
        margin: auto;

    }

    .uppy-DashboardContent-bar {
        height: 30px;
    }


    .uppy-Dashboard-innerWrap {
        /* width: 180px; */
        /* height: 150px; */
    }

    .uppy-Dashboard {
        /* height: 150px; */
        /* width: 180px; */

    }

    .main {
        text-align: center;
        background: #2aaeff;
        height: 80px;
    }

    .content-inner {
        padding: 25px 30px;
        padding-bottom: 5px;
        margin: 15px -25px;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
    }


    .featured-icon-box.icon-align-top-content.style4 {
        margin: auto;
        padding: 30px 25px 25px;
        background-color: #fff;
        margin-top: 50px;
    }

    .bor_rad_5 {
        border-radius: 5px;
    }

    .featured-icon-box {
        position: relative;
        margin: 15px 0;
    }

    .text-center {
        text-align: center !important;
    }
    label{ font-weight: 600;}
    .header3 {
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0 0 0;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 2.5rem;
        margin: 0;
        font-weight: bold;
    }
    .header2 {
        text-transform: uppercase;
        text-align: center;
        padding: 0;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        margin-bottom: 20px;
    }
    .cust-border{ border-bottom: 2px dotted #000;}
    .show-sign-block{ display: block; }

</style>
    <body style="background-color: #efefef;">
        <div class="top-banner text-center">
            <h1 class="header3">Arun Gas Service</h1>
            <h4 class="header2">UJJWALA SCHEME</h4>
        </div>
        <div class="">
        <form class="form-horizontal" id="form" method="POST">
            <input type="hidden" name="version" value="V2"/>
            <div class="container">
                <div class="card p-4">
                    <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Marital Status (वैवाहिक स्थिति)<strong style="color:red">*</strong></label>
                            <select
                                class="selectpicker form-control"
                                id="marital_status"
                                name="marital_status"
                            >
                                <option value="" selected="selected" id="status">
                                    Select Marital Status (चुनें वैवाहिक स्थिति)
                                </option>
                                <option value="MARRIED">Married (विवाहित)</option>
                                <option value="UNMARRIED">Unmarried (अविवाहित)</option>
                                <option value="DIVORCED">Divorced (तलाक)</option>
                                <option value="WIDOW">WIDOW ()</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Residence Occupancy Status ()<strong style="color:red">*</strong></label>
                            <select
                                class="selectpicker form-control"
                                id="occupancy_status"
                                data-style="warning"
                                name="residential_status"
                            >
                                <option value="" selected="selected" id="status">
                                    Select Residence Occupancy Status ()
                                </option>
                                <option value="LIVING_ALONE">
                                    Living Alone ()
                                </option>
                                <option value="LIVING_WITH_FAMILY">
                                    Living With Family ()
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="currentaddress">Current Address (वर्तमान पता)<strong style="color:red">*</strong></label><textarea type="text" class="form-control" id="currentaddress" name="address"></textarea>
                            <span id="currentaddress_detail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Mobile Number. (फोन नंबर)<strong style="color:red">*</strong></label>
                            <input type="tel" class="form-control" id="contact_mobile" pattern="[6789][0-9]{9}"
                                name="contact_mobile"
                                value="" maxlength="10"/>
                        </div>

                        <div class="form-group">
                            <label>Aadhaar registered Mobile Number<strong style="color:red">*</strong></label>
                            <select id="uid_mobile_status" class="selectpicker form-control " name="uid_mobile_status">
                                <option selected="selected">Select</option>
                                <option value="LINKED_WITH_SAME_MOBILE">Provided Mobile number is Same on Aadhaar</option>
                                <option value="MOBILE_NOT_AVAILABLE">I don't know the registered mobile number</option>
                                <option value="LINKED_WITH_OTHER_MOBILE">Aadhaar registered mobile number is different
                                </option>
                            </select>
                        </div>

                        <div id="uid_linked_mobile_form_group" class="form-group">
                            <label>Aadhaar Card Mobile Number. (आधार कार्ड फोन नंबर)<strong style="color:red">*</strong></label>
                            <input type="tel" class="form-control" id="uid_linked_mobile" pattern="[6789][0-9]{9}"
                                name="uid_linked_mobile" maxlength="10"/>
                        </div>


                        <div class="form-group" class="container">
                            <div class="row">
                                <div class="col-sm-4 col">
                                    <label>Your Picture or Selfie(ग्राहक की फोटो)<strong style="color:red">*</strong>
                                    </label>
                                    <span class="custom-file-input" name="customerpicture"
                                        id="customerpicture"></span><br>
                                    <span id="customerpicture_detail" class="text-danger"></span>
                                </div>

                                <div class="col-sm-4 col">
                                    <p>Bank Detail (पास बुक का विवरण)</p>
                                    <span class="custom-file-input" id="bankdetail" name="bankdetail"></span><br>
                                </div>
                            </div>
                        </div>


                        <div id="family_members_tree" class="container">
                        </div>
                        <div  id="show">
                            <div class="form-group">
                                <p>Referral Code</p>
                                <input type="text" class="form-control" id="reference" name="referral_code" value="">
                                <br>
                                <div id="signature-pad" class="signature-pad" >
                                    <div class="signature-pad--body">
                                      <canvas></canvas>
                                    </div>
                                    <div class="signature-pad--footer">
                                      <div class="signature-pad--actions">
                                        <div>
                                          <button type="button" class="button clear" data-action="clear">Clear</button>
                                          <!-- <button type="button" class="button" data-action="change-color">Change color</button>
                                          <button type="button" class="button" data-action="undo">Undo</button> -->

                                        </div>
                                        <div>
                                            <button type="button" id="submit" name="submit" onclick="upload_sign_and_submit()" class="btn btn-success">Upload Signature & Submit</button>
                                          <!-- <button type="button" class="button save" onclick="upload_sign_and_submit()">Upload Signature</button> -->
                                          <!-- <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
                                          <button type="button" class="button save" data-action="save-svg">Save as SVG</button> -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <!-- <input type="submit" id="submit" name="submit" value="submit" class="btn btn-success">
                                <button id="signature_document" name="signature_document" onclick="init_sign_document()" class="btn btn-success">Customer Signature</button> -->
                            </div>
                        </div>



                    </div>
                    </div>


                </div>

            </div>

        </form>

        <div id="message"></div>
        </div>
    </body>
</html>
<!-- <script>
    angular.module('formExample', [])
      .controller('formController', ['$scope', function($scope) {

      }]); -->
  <!-- </script> -->
<script>
    function init_sign_document() {
        $('#signature-pad').addClass("show-sign-block");
    }
    function close_sign_document() {
        $('#signature-pad').removeClass("show-sign-block");
    }

    function upload_sign_and_submit() {

        if (signaturePad.isEmpty()) {
            alert("Please provide a signature first.");
        } else {
            var dataURL = signaturePad.toDataURL();
            var blob = dataURLToBlob(dataURL);


            let sign_uppy = new Uppy.Core({
                debug: true,
                autoProceed: true,
                restrictions: {
                    maxFileSize: 50000000,
                    maxNumberOfFiles: 1,
                    minNumberOfFiles: 1,
                    allowedFileTypes: ['image/*'],
                }
            })
            .use(Uppy.Tus, {
                endpoint: 'https://tus.dca.arungas.com/files/',
            });

            sign_uppy.addFile({
                name: `signature_${new Date().getTime()}_${(Math.random() + 1).toString(36).substring(7)}.png`,
                type: 'image/png',
                data: blob,
                source: 'Local', // optional, determines the source of the file, for example, Instagram.
                isRemote: false, // optional, set to true if actual file is not in the browser, but on some remote server, for example,
            });
            sign_uppy.upload().then((result) => {
                if (result.failed.length > 0) {
                    alert("Error Uploading Signature, try again");
                    console.error('Errors:')
                    result.failed.forEach((file) => {
                        console.error(file.error)
                    })
                } else {
                    console.info('Successful uploads:', result.successful);
                    submit_form(result.successful[0].uploadURL)
                }
            });

        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }



    function submit_form(signature_url) {
        event.preventDefault();
        let documentArray = valid();
        let formdata = $('form').serializeArray()
            .reduce(function (accum, item) {

                    if (-1 === ['ignoreThis', 'andThat'].indexOf(item.name)) {

                        if (item.value !== null) {
                            accum[item.name] = item.value;
                        }
                    }
                    return accum;
                },
                {}
            );

        formdata.documents = documentArray;
        formdata.family_members = gatherFamilyMembersData();

        formdata.documents.push({
            type: 'CUSTOMER_SIGNATURE',
            link: signature_url
        });

        if(formdata.uid_mobile_status == 'LINKED_WITH_SAME_MOBILE') {
            formdata.uid_linked_mobile = formdata.contact_mobile;
        } else if (formdata.uid_mobile_status == 'LINKED_WITH_OTHER_MOBILE') {
            formdata.uid_linked_mobile = '';
        }
        let self = formdata.family_members.filter(
            (e) => {return e.relation == 'SELF'}
        )[0]
        formdata.name = self.name;

        console.log(formdata);

        jQuery('#submit').val('Please wait...');
        // {#jQuery('#submit').attr('disabled', true);#}

        var formData = new FormData($('#form')[0]);

        jQuery.ajax({
            url: '/ujjwala/ujjwala-application/wf/',
            type: 'POST',
            data: JSON.stringify(formdata),
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            headers: {'X-CSRFToken': getCookie('csrftoken')},

            processData: false,
            success: function (result) {

                $('#form').hide();
                console.log(result);
                jQuery('#form')['0'].reset();
                jQuery('#submit').val('Submit');
                jQuery('#submit').attr('disabled', false);

                swal({
                    title: "successful",
                    text: "Thank You",
                    icon: "success",
                })

                $("#message").html('<div class="alert alert-success" style="color:red; text-align:center; margin-top:250px;"><strong>SUCCESS!</strong> 	your application has been submitted</div>');

                $("#cus_id").append(result);
                $("#message").append(result.id).css({"text-align": "center"}).append(" <b>is you application Id</b>.");

                $('#application_receipt').show();
            }
        });
    }

    function valid() {
        let files = [
            validateUppy(customerpictureuppy, 'CUSTOMER_PHOTO', 'Customer Picture or Selfie (ग्राहक की फोटो)*', false),
            validateUppy(bankdetailuppy, 'BANK_DETAIL', 'Bank Detail (पास बुक का विवरण)', false)
        ]

        if (!files.reduce((aggr, current) => {
            return current.valid && aggr
        }, true)) {
            let error = files.reduce((aggr, current) => {
                if (current.msg) {
                    return aggr + '\n' + current.msg
                } else {
                    return aggr
                }
            }, '');
            window.alert(error);
            return null;
        }
        let documentArray = files.filter(e => e.url).map(e => {
            return {type: e.key, link: e.url}
        });
        console.log(documentArray);
        return documentArray;
    }

    function validateUppy(uppyObj, key, label, fileMandatory) {

        if (!uppyObj.state || uppyObj.state.totalProgress == 0) {
            if (fileMandatory) {
                return {
                    valid: false, key: key,
                    msg: `${label} is required`
                };
            }
            return {valid: true};
        } else if (uppyObj.state.totalProgress < 100) {
            return {valid: false, key: key, msg: `${label} upload in Progress(अपलोड प्रगति पर है)`};
        } else {
            return {valid: true, key: key, url: Object.values(uppyObj.state.files)[0].uploadURL};
        }
    }

    function validmain() {
        let file = [

            validateUppy(aadharcarduppy, 'UID_FRONT', 'Aadhaar Card Frontside Picture (आधार कार्ड की फोटो)*', true),
            validateUppy(aadharcardbackuppy, 'UID_BACK', 'Aadhaar Card Backside Picture (आधार कार्ड की फोटो)*', true),
        ]


        if (!file.reduce((aggr, current) => {
            return current.valid && aggr
        }, true)) {
            let error = file.reduce((aggr, current) => {
                if (current.msg) {
                    return aggr + '\n' + current.msg
                } else {
                    return aggr
                }
            }, '');
            window.alert(error);
            return null;
        }
        let documentsRelationArray = file.filter(e => e.url).map(e => {
            return {type: e.key, link: e.url}
        });
        console.log(documentsRelationArray);
        return documentsRelationArray;
    }


    $(document).ready(function () {
        let setMaritalStatus = '';
        let setOccupancyStatus = '';

        $('#customername').on('blur', function () {
            if (document.getElementById("SELF-name") != null) {
                $('#SELF-name').val($('#customername').val());
            }
        });

        $('#occupancy_status,#marital_status').on('change', function () {
            occupancy_status = $('#occupancy_status').val();
            marital_status = $('#marital_status').val();

            if (setMaritalStatus == marital_status && setOccupancyStatus == occupancy_status) return;
            setMaritalStatus = marital_status;
            setOccupancyStatus = occupancy_status;

            removeAllFamilyMembersExceptSelf();
            addFamilyMember('SELF', 'Self');

            if (setMaritalStatus == 'UNMARRIED' && occupancy_status == 'LIVING_WITH_FAMILY') {
                addFamilyMember('FATHER', 'Father');
                addFamilyMember('MOTHER', 'Mother');
            } else if (setMaritalStatus == 'MARRIED' && occupancy_status == 'LIVING_WITH_FAMILY') {
                addFamilyMember('HUSBAND', 'Husband');
            } else {
            }
        });

        $('#uid_mobile_status').change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");

                if (optionValue === 'LINKED_WITH_SAME_MOBILE') {
                    $("#uid_linked_mobile_form_group").show();
                    $("#uid_linked_mobile").val($("#contact_mobile").val());
                    $('#uid_linked_mobile').prop('disabled', true);
                } else if (optionValue == 'MOBILE_NOT_AVAILABLE') {
                    $("#uid_linked_mobile_form_group").hide();
                    $('#uid_linked_mobile').prop('disabled', true);
                } else {
                    $('#uid_linked_mobile').prop('disabled', false);
                    $("#uid_linked_mobile_form_group").show();
                }

            });
        }).change();


        window.customerpictureuppy = new Uppy.Core({
            debug: true,
            autoProceed: true,
            restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*'],
                //requiredMetaFields: ['caption'],
            }
        })
            .use(Uppy.Dashboard, {
                trigger: '#customerpicture',
                inline: true,
                target: '#customerpicture',
                showProgressDetails: true,
                note: 'Images and video only, 2–3 files, up to 10 MB',
                height: 250,
                metaFields: [],
                id: 'customerpicture',
                browserBackButtonClose: false
            })
            .use(Uppy.Tus, {
                endpoint: 'https://tus.dca.arungas.com/files/',
            })
        customerpictureuppy.on('complete', result => {
            console.log('successful files:', result.successful)
            console.log('failed files:', result.failed)
        })

        window.bankdetailuppy = new Uppy.Core({
            debug: true,
            autoProceed: true,
            restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*'],
                //requiredMetaFields: ['caption'],
            }
        })
            .use(Uppy.Dashboard, {
                trigger: '#bankdetail',
                inline: true,
                target: '#bankdetail',
                showProgressDetails: true,
                note: 'Images and video only, 2–3 files, up to 10 MB',
                height: 250,
                metaFields: [],
                id: 'bankdetail',
                browserBackButtonClose: false
            })
            .use(Uppy.Tus, {
                endpoint: 'https://tus.dca.arungas.com/files/',
            })
        bankdetailuppy.on('complete', result => {
            console.log('successful files:', result.successful)
            console.log('failed files:', result.failed)
        })


        window.fatheraadharcarduppy = new Uppy.Core({
            debug: true,
            autoProceed: true,
            restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*'],
                //requiredMetaFields: ['caption'],
            }
        })
            .use(Uppy.Dashboard, {
                trigger: '#fatheraadharcard',
                inline: true,
                target: '#fatheraadharcard',
                showProgressDetails: true,
                note: 'Images and video only, 2–3 files, up to 10 MB',
                height: 250,
                metaFields: [],
                id: 'fatheraadharcard',
                browserBackButtonClose: false
            })
            .use(Uppy.Tus, {
                endpoint: 'https://tus.dca.arungas.com/files/',
            })
        fatheraadharcarduppy.on('complete', result => {
            console.log('successful files:', result.successful)
            console.log('failed files:', result.failed)
        })

        window.fatheraadharcardbackuppy = new Uppy.Core({
            debug: true,
            autoProceed: true,
            restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*'],
                //requiredMetaFields: ['caption'],
            }
        })
            .use(Uppy.Dashboard, {
                trigger: '#fatheraadharcardback',
                inline: true,
                target: '#fatheraadharcardback',
                showProgressDetails: true,
                note: 'Images and video only, 2–3 files, up to 10 MB',
                height: 250,
                metaFields: [],
                id: 'fatheraadharcardback',
                browserBackButtonClose: false
            })
            .use(Uppy.Tus, {
                endpoint: 'https://tus.dca.arungas.com/files/',
            })
        fatheraadharcardbackuppy.on('complete', result => {
            console.log('successful files:', result.successful)
            console.log('failed files:', result.failed)
        })


    });

    function validateFamilyMembersFiles() {

        members = $.map($('.familyMemberLineItem'), member => {

            return $(member).find('input,select').serializeArray().reduce(
                function (accum, item) {
                    if (item.value !== null) {
                        accum[item.name.split('-')[1]] = item.value;
                    }
                    return accum;
                },
                {}
            );

        })


        file_list_front = $.map(members, memberMap =>
                validateUppy(window[`${memberMap.relation}-uid_front_link_uppy`], 'UID_FRONT', `${memberMap.relation} Aadhaar Card Frontside Picture (आधार कार्ड की फोटो)*`, true),
            validateUppy(window[`${memberMap.relation}-uid_front_link_uppy`], 'FATHER_UID_FRONT', `${memberMap.relation}Father Aadhaar Card Frontside Picture (आधार कार्ड की फोटो)*`, true)
        );

        file_list_back = $.map(members, memberMap =>
                validateUppy(window[`${memberMap.relation}-uid_back_link_uppy`], 'UID_BACK', `${memberMap.relation} Aadhaar Card Backside Picture (आधार कार्ड की फोटो)*`, true),
            validateUppy(window[`${memberMap.relation}-uid_back_link_uppy`], 'FATHER_UID_FRONT', `${memberMap.relation}Father Aadhaar Card Frontside Picture (आधार कार्ड की फोटो)*`, true)
        );

        files = file_list_front.concat(file_list_back);

        if (!files.reduce((aggr, current) => {
            return current.valid && aggr
        }, true)) {
            let error = files.reduce((aggr, current) => {
                if (current.msg) {
                    return aggr + '\n' + current.msg
                } else {
                    return aggr
                }
            }, '');
            window.alert(error);
            return null;
        }

    }

    function gatherFamilyMembersData() {
        return $.map($('.familyMemberLineItem'), member => {

            memberMap = $(member).find('input,select').serializeArray().reduce(
                function (accum, item) {
                    if (item.value !== null) {
                        accum[item.name.split('-')[1]] = item.value;
                    }
                    return accum;
                },
                {}
            );

            memberMap.uid_front_link = Object.values(window[`${memberMap.relation}-uid_front_link_uppy`].state.files)[0].uploadURL;
            memberMap.uid_back_link = Object.values(window[`${memberMap.relation}-uid_back_link_uppy`].state.files)[0].uploadURL;

            return memberMap;

        });

    }

    function removeAllFamilyMembersExceptSelf() {
        $.each($('.familyMemberLineItem'), (index, member) => {

            memberMap = $(member).find('input').serializeArray().reduce(
                function (accum, item) {
                    if (item.value !== null) {
                        accum[item.name.split('-')[1]] = item.value;
                    }
                    return accum;
                },
                {}
            );


            delete window[`${memberMap.relation}-uid_front_link_uppy`];
            delete window[`${memberMap.relation}-uid_back_link_uppy`];

        });

        $('#family_members_tree').html('');
    }


    function addFamilyMember(relation_name, relation_label) {

        let relation_block = `<input type="hidden" name="${relation_name}-relation" value="${relation_name}"/>`
        // if (alternate_relation_options) {
        //     relations_options = [`<select class="selectpicker form-control" name="${relation_name}-relation">`]
        //     $.each(alternate_relation_options, (i, member) => {
        //         relations_options.push(`<option value="${member}">${member}</option>`)
        //     })
        //     relations_options.push(`</select>`)
        //     relation_block = relations_options.join('\n')

        //     relation_block = `
        //         <div class="form-group">
        //             <p>${relation_label} Relationship<strong style="color:red">*</strong></p>
        //             ${relation_block}
        //         </div>
        //         `
        // }

        let farilyBlockElement = `

        <div class="form-group initialize familyMemberLineItem">
            ${relation_block}
            <div class="card m-2 pb-4 pt-2">
                <div class="row m-0 pl-sm-4">
                    <div class="col-sm-4">
                        <div class="">
                            <p>${relation_label} Name<strong style="color:red">*</strong></p>
                            <input type="text" class="form-control" id="${relation_name}-name"  name="${relation_name}-name" value=""   />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p>${relation_label} Date Of Birth<strong style="color:red">*</strong></p>
                        <div class="">
                            <input type="date" class="form-control" name="${relation_name}-dob" id="${relation_name}-dob"></input>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p>${relation_label} Aadhaar No.<strong style="color:red">*</strong></p>
                        <div class="">
                            <input type="tel" class="form-control" name="${relation_name}-uid_no" id="${relation_name}-uid_no" minlength="12" maxlength="12" pattern="[0-9]{12}"></input>
                        </div>
                    </div>
                </div>
                <div class="row m-0 pl-4 pt-3 mt-4">
                    <div class="col-sm-4">
                        <div>
                            <p>${relation_label} Aadhaar Card Front Photo (आधार कार्ड की फोटो)<strong
                                    style="color:red">*</strong></p>
                            <span class="custom-file-input" name="${relation_name}-uid_front_link" id="${relation_name}-uid_front_link">
                            </span><br>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="">
                            <p>${relation_label} Aadhaar Card Back Photo (आधार कार्ड की फोटो)<strong style="color:red">*</strong>
                            </p>
                            <span class="custom-file-input" name="${relation_name}-uid_back_link" id="${relation_name}-uid_back_link">
                            </span><br>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		`;

        $('#family_members_tree').append($(farilyBlockElement));

        setTimeout(() => {
            initUppyUpload(`${relation_name}-uid_back_link`, `${relation_name}-uid_back_link_uppy`);
            initUppyUpload(`${relation_name}-uid_front_link`, `${relation_name}-uid_front_link_uppy`);
        }, 0);

    }

    function initUppyUpload(elementId, elementVariable) {

        window[elementVariable] = new Uppy.Core({
            debug: true,
            autoProceed: true,
            restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*'],
            }
        })
            .use(Uppy.Dashboard, {
                trigger: `#${elementId}`,
                inline: true,
                target: `#${elementId}`,
                showProgressDetails: true,
                note: 'Image, 1 file, up to 10 MB',
                height: 40,
                metaFields: [],
                id: elementId,
                browserBackButtonClose: false
            })
            .use(Uppy.Tus, {
                endpoint: 'https://tus.dca.arungas.com/files/',
            });

    }

</script>
<script src="https://arungas.com/public/ujwalla/js/app.js"></script>