{% extends "material/frontend/base_module.html" %}
{% block content %}
    <table>
        <tr>
            <th colspan="2">
                <b>List of Pre-Inspection Records</b>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            <input class="searchfield" id="searchbox" type="search" placeholder="Search..."/>
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th>Application Id</th>
            <th>Name</th>
        </tr>
        {% for obj in object_list %}
            <tr>
                <td><a href="{% url 'ujjwala:pre_inspection_detail_view' pk=obj.id %}">{{ obj.pk }}</a><td>
                <td>{{ obj.name }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </td>
        </tr>
    </table>
    <script>
        window.onload=function(){

        const input = document.getElementById("input");
        const getName = document.getElementById("getName");


        getName.addEventListener("submit", e =>{
            // Prevent the form from submission
            e.preventDefault();
            // Get city name and store it in local storage
            var inputVal = getName.value;
            var api_url = "{apiurl}" + inputVal;
            // Get the dataset
            function refreshData() {
                fetch(api_url).then(response =>{
                    response.json().then(json => {
                        let dataset = json;
                        let output = formatResponse(dataset);

                    })
                    // Catch error - for example, the user doesn't input a valid name
                    .catch(error => console.log("not ok")); // TO BE IMPROVED
                })

            
        };
        });
     };
    </script>

{% endblock %}