{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}Application Status Search {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<div class="p-2 pt-0 form_label" style="width: 100%;">
        <form method="post">
            {% csrf_token %}
            <div class="card p-0">
                <div class="card-body">
                    <div class="form-group mb-0">
                        <label>Enter Contact Mobile To Share Link: </label>
                        <input autocomplete="off" type="tel" name="contact_mobile" pattern="[6789][0-9]{9}" />
                    </div>
                </div>
                <div class="card-footer">
                    <button style="width: 100%;" class="btn btn-primary bg-heading">Share Form Link</button>
                </div>
            </div>
        </form>
</div>
{% endblock %}