{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<div class="main p-3 pt-0 form_label">
    <form method="post" id="">
        {% csrf_token %}
        {{ form.form_type }}
        {{ form.application_id }}
        <div class="hidden_field">
          {{ form.reference_number }}
        </div>
        <div class="card">
          <div class="card-header main-header">
            <h5 class="m-0 mb-1 mt-1">Pre Inspection Mobile phone verification</h5>
          </div>
          <div class="card-body">
            <div class="center">
                <span class="mobile-text">
                    <label>Enter the code we just sent on your phone <b>{{mobile}}</b>  <br>वह कोड दर्ज करें जो हमने अभी आपके <b>{{mobile}}</b> फ़ोन पर भेजा है</label><br>
                    <b id="ref_number" class="text-color">valid for 5m  </b>
                    <p class="m-0 ref_no fw-600 mt-2 text-red">Ref No: {{ form.reference_number.value }}</p>
                </span>
            </div>
            <div class="d-flex flex-row mt-2">
              <input type="text" inputmode="numeric" pattern="[0-9]*" name="otp" class="form-control text-center input_otp" autofocus="" style="border: 1px solid #ccc;" />
            </div>
            <div class="text-center mt-2">
              <span class="d-block mobile-text text-red fw-600" id="countdown"></span>
              <span class="d-block mobile-text text-red fw-600" id="resend"></span>
            </div>
          </div>
             <div class="card-footer float-right">
                <input class="btn btn-success float-right rounded-0" type="submit" value="Submit" />
            </div>
          </div>
        </div>
    </form>
    <script src="{% static '/js/otp.js' %}"></script>
    <script>
        document.getElementById("ref_number input").readOnly = true;
    </script>
</div>
<script>
  document.getElementById("id_reference_number").readOnly 1= true
</script>
{% endblock %}
