{% extends "material/frontend/base_module.html" %}
{% load static %}
{% load comments %}
{% block page_title %}Application Status Search {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="p-2 pt-0 form_label application_form" style="width: 100%;">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<style>
    body .application_form{ max-width: 700px;}
    html body .application_form .legal-button {
    color: #fff;
    font-size: 12px;
    border-radius: 3px !important;
    border: none;
    /* background: transparent; */
    margin-left: 5px;
    height: 30px !important;
    line-height: 19px !important;
}
.copy_icon{ border: transparent; background: transparent; display: inline-block; color: #007bff; font-size: 20px;}
.copy_icon:hover{ cursor: pointer; background: transparent; border: transparent;}

.table_text td{ padding: 8px 10px; }
.ekyc_status{ color: red; font-weight: bold; text-transform: uppercase; font-size: 14px;}
</style>

    <form method="get">
{#    {% csrf_token %}#}
        {% if disbursement_user %}
            <div class="card p-0">
                <div class="card-body search_form">
                    <div class="form-group mb-0">
                        <label>Enter Contact Mobile: </label>
                        <input autocomplete="off" type="tel" name="contact_mobile" />
                    </div>
                    <p class="text-center"><b style="font-size: 15px;">OR</b></p>
                    <div class="form-group mb-0">
                        <label>Enter Aadhar Number: </label>
                        <input autocomplete="off" type="tel" name="uid" />
                    </div>
                    <p class="text-center"><b style="font-size: 15px;">OR</b></p>
                    <div class="form-group mb-0">
                        <label>Application Id:</label>
                        <input autocomplete="off" type="tel" name="application_id" />
                    </div>
                </div>
                <div class="card-footer">
                    <button style="width: 100%;" class="btn btn-primary bg-heading">Get Application Status</button>
                </div>
            </div>
        {% endif %}
    </form>
        {% if obj %}
            <div class="card">
                <div class="status_block">
                    <div class="main-header">
                        <span class="text-black"><input type="button" value="Back" onclick="history.back()"/> Application Id: </span>
                        <span class="float-right" data-turbolinks="false"><b><a href="{% url 'admin:ujjwala_ujjwalav2application_change' object_id=obj.id %}">{{ obj.id }}</a></b></span>
                    </div>
                </div>
                <div class="card-body pb-0 p-0 list_block table_text">
                    <div class="row m-0">
                        <div class="col-9 p-0">
                            <table>
                                <tr>
                                    <td>Name: <b>{{ obj.name }}</b></td>
                                </tr>
                                <tr>
                                    <td>Address: <b>{{ obj.formatted_address }}</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% for contact in obj.all_contacts %}
                                            <p>Phone {{ forloop.counter }}: <b><a href="tel:{{ contact}}" onclick="return true;">{{contact}}</a></b></p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-3 p-0">
                            <img class="p-1" src="{{ obj.document_self }}" style="height: 150px; object-fit:contain; width: 100%;">
                        </div>
                        <div class="col-12 p-0 eky_block">
                                <table>
                                    <tr colspan="2"> 
                                        {% if not obj.ekyc_cleared %}
                                            <td colspan="2">
                                                <p style="font-size: 12pt">Aadhar No. : <b><span id="myLabel">{{ obj.self_uid_no_formatted }}</span></b> 
                                                    <button class="button copy_icon" onclick="copyToClipboard()"><i class="fa-solid fa-copy"></i></button>
                                                </p>
                                                
                                            </td>
                                            <td colspan="2">
                                                {% if obj.consumer_id %}
                                                    <p>
                                                        <a href="{% url 'ujjwala:get_ekyc_status_from_sdms' pk=obj.id %}" class="btn btn-success float-left text-white">Fetch E-KYC Status From IOCL</a>
                                                    </p>

                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% if obj.ekyc_last_attempt_log %}
                                        <tr>
                                            <td colspan="2">
                                                <p>
                                                    {{ obj.ekyc_last_attempt_log }}
                                                </p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                    </div>
                </div>
                <div class="status_block">
                    <div class="main-header">
                        <span class="text-black">Status:</span>
                        <span class="float-right"><b>{{obj.get_status_display}} </b><a href="{% url 'ujjwala:ujjwala_customer_profile' pk=obj.id %}" style="font-size: 13pt"><b>(View Details)</b></a></span>
                    </div>
                    <table class="table table-bordred" style="margin-bottom: 0;">
                        <tr>
                            <th>Dedup Status:</th>
                            <td>{{ obj.robo_sdms_dedup }}</td>
                        </tr>
                        <tr>
                            <th>Pre-Inspection Status: </th>
                            <td>
                                {% if obj.pre_inspection %}
{#                                    <a  data-turbolinks="false" href="{% url 'admin:ujjwala_preinspection_change' object_id=obj.pre_inspection.id %}">#}
{#                                        {{obj.pre_inspection.get_status_display}}#}
{#                                    </a>#}
                                    {{obj.pre_inspection.get_status_display}}
                                    {% if obj.pre_inspection.status == 'ACCEPTED' %}
                                        <b>{{ obj.pre_inspection.updated_on }}</b>
{#                                        {% if obj.connection_disbursement.status == 'LEGAL_DOCUMENTS_PENDING' %}#}
                                            <a class="link_wh" style="color:#007bff !important" href="{% url 'ujjwala:whatsapp_form_abc' pk=obj.id %}">
                                                <b class="link"> (Whatsapp Form A B C)</b>
                                            </a>
{#                                        {% endif %}#}
                                    {% else %}
                                        {% if obj.pre_inspection.status != 'ACCEPTED' or obj.pre_inspection.status != 'SUBMITTED' %}
                                            <a href="{% url 'ujjwala:whatsapp_pre_inspection_type_self' pk=obj.id %}" class="btn btn-success" >
                                                <b> (Whatsapp Pre-Inspection Type Self)</b>
                                            </a>
                                        {% else %}
                                            {{obj.pre_inspection.get_status_display}}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {{ obj.pre_inspection.get_status_display }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Connection Disbursement Status: </td>
                            <td>
                                {% if obj.connection_disbursement %}
                                    <a class="float-left"  data-turbolinks="false" href="{% url 'admin:ujjwala_connectiondisbursement_change' object_id=obj.connection_disbursement.id %}" >
                                        {{obj.connection_disbursement.get_status_display}}
                                    </a>
                                    {% if obj.connection_disbursement.status == 'LEGAL_DOCUMENTS_ACCEPTED' %}
                                        <a href="{% url 'ujjwala:legal_documents_pending' pk=obj.id %}" class="float-left btn rounded-0 legal-button">Lost Legal Documents</a>
                                    {% endif %}
                                    {% if obj.connection_disbursement.status == 'LEGAL_DOCUMENTS_PENDING' %}
                                        <a class="link_wh" style="color:#007bff !important" data-turbolinks="false" href="{% url 'ujjwala:legal_documents_upload' pk=obj.connection_disbursement.id %}">
                                            <br><b class="link"> (Upload Form A B C)</b>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {{obj.connection_disbursement.get_status_display}}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>E-Kyc Cleared Status: </th>
                            {% if  obj.ekyc_cleared %}
                                <td> <span class="ekyc_status" style="color: green;">{{ obj.ekyc_cleared }}</span></td>
                            {% else %}
                                <td> <span class="ekyc_status"  style="color: red;">{{ obj.ekyc_cleared }}</span></td>
                            {% endif %}
                        </tr>
                        {% if obj.status == 'APPLICATION_REJECTED' or obj.status == 'OMC_REJECTED' %}
                            <tr>
                                <th colspan="2"><b>Rejected For: </b> {{ rejected_reason }}</th>
                            </tr>
                        {% else %}
                            <tr>
                                <th>
                                    <a class="text_link" href="{% url 'ujjwala:change_phone_number' pk=obj.id %}">
                                        <b style="color:cornflowerblue"><i>Change Phone Number</i></b></a>
                                </th>
                                <th>
                                    <a class="text_link" href="{% url 'ujjwala:update_bank_details' pk=obj.id %}" >
                                        <b style="color:cornflowerblue"><i>Update Bank Details</i></b></a>
                                    {% if obj.status == 'READY_FOR_DISBURSEMENT' %}
                                        <a href="https://dca.arungas.com/ujjwala/portal/disbursement/list/?application_id={{ obj.id }}" class="text-white btn btn-success float-right">Create Walk-In</a>
                                    {% endif %}
                                </th>
                            </tr>
{#                        <tr>#}
{#                            <th>Consumer Id: {{ obj.consumer_id }}</th>#}
{#                            <th>#}
{#                                <a class="text_link" href="{% url 'ujjwala:update_relationship_number' pk=obj.id %}">#}
{#                                <b style="color:cornflowerblue"><i>Update Relationship Number</i></b></a>#}
{#                            </th>#}
{#                        </tr>#}
                        {% endif %}
                        {% if obj.status == 'NIC_CLEARED' %}
                        <tr>
                            <th colspan="2"><a class="text_link" href="{% url 'ujjwala:nic_cleared_customer_remarks' pk=obj.id %}">
                                <b style="color:cornflowerblue"><i>Customer Remarks Update</i></b></a></th>
                        </tr>
                        {% endif %}

                        {% if obj.pre_inspection.status != 'ACCEPTED' and obj.status != 'APPLICATION_REJECTED' %}
                            {% if obj.pre_inspection.status != 'SUBMITTED' %}
                                <tr>
                                    <td colspan="2">
                                        <a href="{% url 'ujjwala:share_self_pre_inspection_link' pk=obj.id %}"><b>Share Self Pre-Inspection Link</b></a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        <tr>
                            <td>
                                <span style="font-size: 10pt; font-weight: bold;">For More Info: Click View Details In Status</span>
                            </td>
                            <td>
                                <p class="text-right"><input type="button" value="Back" onclick="history.back()"/></p>
                            </td>
                        </tr>
                    </table>
                    {% render_comment_list for obj %}
                </div>
            </div>
            {% render_comment_form for obj %}
        {% endif %}
    </div>
<style>
    .status_block .main-header{     
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        background-color: #efefef;
        font-weight: bold;
        font-size: 14px;
    }
    .text_link{ text-decoration: underline; font-weight: bold !important;}
    .application_form .list_block th, .application_form .list_block td, .status_block th,.application_form .list_block td { font-size: 0.9rem;}
    .table.table-bordred:last-child tr{ border-bottom: transparent;}
    .search_form input{ padding: 0 10px !important; width: 96% !important;  }
    .link_wh:hover{ text-decoration: underline !important;}
    @media only screen and (max-width: 600px) and (min-width: 400px)  {
        .eky_block tr td{ float: left; width:100%;}
    }
</style>
<script>
    function copyToClipboard() {
        // Get the text to copy from the label
        var textToCopy = document.getElementById("myLabel").innerText;

        // Remove spaces and special characters
        var cleanedText = textToCopy.replace(/[^a-zA-Z0-9]/g, '');

        // Create a temporary element to hold the cleaned text
        var tempElement = document.createElement("textarea");
        tempElement.value = cleanedText;
        document.body.appendChild(tempElement);

        // Select the text in the temporary element
        tempElement.select();
        
        // Try to copy the selected text
        try {
        document.execCommand("copy");
       
        } catch (err) {
        console.error("Unable to copy text", err);
        } finally {
        // Remove the temporary element
        document.body.removeChild(tempElement);
        }
    }
</script>
{% endblock %}

