{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<style>
    /* .app_card a{ color: #333;}
    .app_card a:hover{ text-decoration: none;}
    p{ padding: 0; margin: 0;}
    body{ font-family: 'muli', sans-serif !important; font-weight: 500;}
    .form_label{ max-width:1000px !important}
    .card, .card-panel{  display: inline-block; width: 100%;} 
    .main-header { padding: 10px; border-radius: 3px;}
    .card-body ul li{ display: inline-block; width: 100%; } 
    .card-body ul li p { margin: 0;}
    .card-body.pb-0{ padding-bottom: 0 !important; padding-top: 5px !important}
    .status{ color: #2957A4; font-size: 0.9em;}
    .app_card p{ font-size: 0.9em;}
    .inspection_photo_block .border{ text-align: center; width: 100%;}
    .inspection_photo_block img{ padding: 5px;}
    .inspection_photo_block p{ height: 50px; border-top: 1px solid #ccc; text-align: center; vertical-align: middle; display: table-cell; width: 100%; padding: 0 12px;}
    .btn{ padding:0; line-height: 40px; height: 40px; font-weight: 600;} */
</style>
    <p> </p>
    <div class="p-2 pt-0 form_label" style="width: 100%;">
        <div class="main-header bg-heading text-center">
            <h5 class="text-white mb-0">Pre Inspection ({{pre_inspection.id}}) <br><span style="font-size: 12px; color: #c4d5f1;"> {{ pre_inspection.submitted_on }}</span> </h5>
        </div>
        <div class="card mb-2 app_card border-0">
            <div class="card-header border-top p-2">
                <div class="row m-0  text-center">
                    <h5 class="text-center m-0" style="width: 100%;"><span>Customer</span></h5>
                </div>
            </div>
            <div class="card-body pb-0 p-2 mb-3">
                <ul class="m-0">
                    <li>
                        <p class="float-left">Name {{ pre_inspection.parent.name }}</p>
                    </li>
                    <li>
                        <p><b>Address:</b>  {{ pre_inspection.parent.formatted_address }}</p>
                    </li>
                </ul>
            </div>
            <div class="card-header p-2 border-top">
                <div class="row m-0  text-center">
                    <h5 class="text-center m-0" style="width: 100%;"><span>Mechanic ({{ pre_inspection.mechanic }})</span></h5>
                </div>
            </div>
        </div>
        <div class="text-center" >
            {% if pre_inspection.status == "ACCEPTED" %}
                <div class="btn btn-success" style="display: block; width:100%">
                    {{ pre_inspection.status }}
                </div>
            {% elif pre_inspection.status == "SUBMITTED" %}
                <div class="btn" style="display: block; width:100%; background-color: #2957A4;">
                    {{ pre_inspection.status }}
                </div>
            {% else %}
                <div class="btn btn-danger" style="display: block; width:100%">
                    {{ pre_inspection.status }}
                </div>
            {% endif %}
           
        </div>
        
    </div>
    
{% endblock %}