    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">        
        <title>आप भी बने भागीदार ! गैस कनैक्शन के आवेदन के लिए कॉल करे - 0161-5201005</title>
        <meta property="og:url" content="https://www.arungas.com/social-share/?id=17012">
        <meta property="og:type" content="website">
        <meta property="og:title" content="आप भी बने भागीदार ! गैस कनैक्शन के आवेदन के लिए कॉल करे - 0161-5201005">
        <meta property="og:description" content="आप भी बने भागीदार ! गैस कनैक्शन के आवेदन के लिए कॉल करे - 0161-5201005">
        <meta property="og:image" content="https://www.arungas.com/social-share/img/logo.png">
        <meta property="og:image:type" content="image/jpeg">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="arungas.com">
        <meta property="twitter:url" content="https://www.arungas.com/social-share/?id=17012">
        <meta name="twitter:title" content="आप भी बने भागीदार ! गैस कनैक्शन के आवेदन के लिए कॉल करे - 0161-5201005">
        <meta name="twitter:description" content="आप भी बने भागीदार ! गैस कनैक्शन के आवेदन के लिए कॉल करे - 0161-5201005">
        <meta name="twitter:image" content="https://www.arungas.com/social-share/img/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,600,800&display=swap" rel="stylesheet">
    </head>
    <body style="margin: 0;padding: 0;" >
        <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background: #bcbcbc; height: calc(100vh);" >
            <tr>
                <td>
                    <table align="center" width="100%" cellpadding="0" cellspacing="0" style="width: 100%;max-width: 600px;min-width: 600px" id="share_banner">
                        <tr>
                            <td width="100%">
                                <a target="_blank" href="#" style="display: block">
                                    <img src="https://www.arungas.com/social-share/img/1.jpg" style="display:block;width: 100%">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <img style="display:block;width: 100%; height: 10px;" src="https://www.arungas.com/social-share/img/line.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="background: #fff; text-align: center;">
                                                <img src="https://www.arungas.com/social-share/img/2_01.jpg" style="display:block;width: 100%">
                                            </td>
                                            <td style=" text-align: center;background-color: #fef1d2;">
                                                <span style="border: solid 5px #9e0000; display: block; padding: 0px; background-color: #fff; ">
{#                                                    <img src="img/social-media.png" style="display:block; width: 276px; object-position: right top; object-fit: cover;    height: 301px;">#}
                                                    <img src="{{ social_media_url }}" style="display:block; width: 276px; object-position: right top; object-fit: cover;    height: 301px;">
{#                                                    <p style=" text-align: center; text-decoration: none !important; font-size: 22px !important; color: #fff; font-weight: 600; padding: 8px 0; margin-top: 0px; margin-bottom: 0px; line-height: 1.2; background-color: #9e0000; font-family: 'Roboto Slab', serif">Phool Kumari</p>#}
                                                    <p style=" text-align: center; text-decoration: none !important; font-size: 22px !important; color: #fff; font-weight: 600; padding: 8px 0; margin-top: 0px; margin-bottom: 0px; line-height: 1.2; background-color: #9e0000; font-family: 'Roboto Slab', serif">{{ name }}</p>
                                                </span>
                                            </td>
                                            <td style="background: #fff; text-align: center;">
                                                <img src="https://www.arungas.com/social-share/img/2_03.jpg" style="display:block;width: 100%">
                                            </td>
                                            <td style="background: #fff; text-align: center;">
                                                <img src="/img/2_04.png" style="display:block;width: 100%">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><div style="background: #bcbcbc;text-align: center; text-decoration: none !important; font-size: 17px !important; color: #000; font-weight: 400; margin: 0px; line-height: 1.2; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; text-transform: capitalize; vertical-align: top;">
                            <p style="background: #fff;padding: 14px 0;width: 600px;margin: 0 auto;">
                                <a id="share_button" href="" style="display: inline-block;vertical-align: middle; margin-left: 5px; margin-right: 5px;">
                                    <img src="https://www.arungas.com/social-share/img/FB.png" style="display: block;width: 135px; height: 42px;">
                                </a>
                                <a style="display: inline-block;vertical-align: middle; margin-left: 5px; margin-right: 5px;" onclick="openWhatsApp()">
                                    <img src="https://www.arungas.com/social-share/img/WHATSAPP.png" style="width: 135px; display: block; height: 42px;">
                                </a>
                                <a style="display: inline-block;vertical-align: middle;margin-left: 5px;margin-right: 5px;background: #b11014;color: #fff;padding: 10px 20px;border-radius: 5px;" id="download_banner">
                                    Download Banner
                                </a>
                            </p>
                        </div></td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <img src="https://www.arungas.com/social-share/img/3.jpg" style="display:block;width: 100%">
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #ffffff; text-align: center; width: 100%;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://connect.facebook.net/en_US/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script>
        window.fbAsyncInit = function(){
            FB.init({
                appId        : '643580937567102',
                status       : true, 
                cookie       : true, 
                xfbml        : true  
            });
        };
        (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)){return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);           
        }(document));
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#share_button').click(function(e){
                e.preventDefault();
                html2canvas($("#share_banner"),{
                    useCORS: true,
                    onrendered: function(canvas){
                        wmContext   =   canvas.getContext("2d");
                        dataURL4    =   '';
                        $("#preview").append(canvas);
                        var dataURL =   canvas.toDataURL("image/png", 0);
                        $.ajax({
                            type: 'POST',
                            url: 'convert.php',
                            data:{'imgCanvas':dataURL,'saveImage':'ok','imagename':17012},
                            success: function(data){
                                var response=jQuery.parseJSON(data);
                                if(response.banner_url!=''){
                                    FB.ui(
                                    {
                                        method: 'feed',
                                        picture: response.banner_url,
                                        caption: '',
                                        description: '',
                                        message: ''
                                    });
                                }
                            }
                        });
                    }
                });                
            });
        });
        $(document).ready(function (){
            var element = $("#share_banner");
            var getCanvas; 
            html2canvas(element, {
                useCORS: true,
                onrendered: function (canvas){
                    getCanvas = canvas;
                }
            });  
            $("#download_banner").on('click', function (){
                var imgageData = getCanvas.toDataURL("image/png");
                var newData = imgageData.replace(
                    /^data:image\/png/, 
                    "data:application/octet-stream");  
                $("#download_banner")
                .attr("download", "gfg.png")
                .attr("href", newData);
            });
        });
    </script>
    <script>
        function openWhatsApp(){
            window.open('whatsapp://send?text={{ social_media_url }}');
        }
    </script>
    </html>
    