{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}Promotional Sale{% endblock %}
{% load material_form %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.js"></script>

    <div class="main p-2 pt-0 form_label">
        <form method="post" id="promotional-sale-form">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <p><img src="https://arungas.com/public/chhath-puja.jpeg" style="height: 268px" alt="banner"/></p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    {% form form=form %}{% endform %}

                    <!-- Additional input field for agency name if 'Other' is selected -->
                    <div id="other-agency" style="display:none;">
                        <label for="id_other_agency_name">Please enter your agency name:</label>
                        <input type="text" name="other_agency_name" id="id_other_agency_name" class="form-control" />
                    </div>

                    <label>Cylinder Delivery Photo</label>
                    <p id="customer_photo"></p>
                </div>

                <div class="card-footer float-right">
                    <input class="btn btn-success float-right rounded-0" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>

    <script>
        // Toggle 'Other' agency name input field based on selection
        document.getElementById('id_agency_name').addEventListener('change', function() {
            var otherAgencyField = document.getElementById('other-agency');
            if (this.value === 'Other') {
                otherAgencyField.style.display = 'block';
            } else {
                otherAgencyField.style.display = 'none';
                document.getElementById('id_other_agency_name').value = '';
            }
        });

        // Initialize Uppy for customer photo upload
        // Uppy for photo upload
        window.customerPhotoUppy = new Uppy.Core({
            debug: true,
            autoProceed: true,
            restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*'],
            }
        })
        .use(Uppy.Dashboard, {
            trigger: '#customer_photo',
            inline: true,
            target: '#customer_photo',
            showProgressDetails: true,
            note: 'Image only, 1 file',
            height: 200,
            metaFields: [],
            id: 'customer_photo',
            browserBackButtonClose: false
        })
        .use(Uppy.Tus, {
            endpoint: 'https://tus.dca.arungas.com/files/',
        });

        customerPhotoUppy.on('complete', result => {
            $('#id_customer_photo').val(result.successful[0].uploadURL);
        });

        // Phone number search API logic
        document.getElementById('id_consumer_id').addEventListener('blur', function() {
            var agencyName = document.getElementById('id_agency_name').value;
            if (agencyName === 'Other') {
                return;
            }
            var consumerId = this.value;
            if (consumerId) {
                fetch(`/connection_app/get-customer-details-from-consumer-id?consumer_id=${consumerId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.exists) {
                            alert("No data found for this Consumer Id.");
                        } else {
                            if (data.ekyc_flag === false && data.bsc_due_flag === true) {
                                alert("Customer E-Kyc Pending and Basic Safety Check Is Pending.");
                            } else {
                                document.getElementById('id_customer_name').value = data.customer_name;
                                document.getElementById('id_customer_address').value = data.customer_address;
                            }
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching customer data:", error);
                        alert("Failed to fetch customer data.");
                    });
            }
        });
    </script>
{% endblock %}
