@import url('https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap');
@import url('https://path/to/font-awesome/css/font-awesome.min.css');
.height-100{height:100vh}
p{ margin-bottom: 0 !important;}
body, a, p{font-family: 'muli', sans-serif !important; }
.fw-500 { font-weight:500;}
.fw-600 { font-weight:600;}
.fw-700 { font-weight:700;}
.text-under-n{ text-decoration: none !important;}

.text-red{  color:#ff5c6c !important;}
.errorlist li{ color: red; font-size: 14px; font-weight: 500;}
.form_label{ max-width: 600px;}
.form_label label{ font-size: 14px; font-weight: 600; color: #333;}
.form_label a{ color: #222; text-decoration: none; }
.form_label a:hover{text-decoration: none;}
.content form .form-group input{  height:38px !important; border-radius: 3px !important; border: 1px solid #ccc !important; width: 100%; line-height: 38px !important;}
.col.form-group{ margin: 0 !important;}
.multi_button .col .btn{ font-size: 0.8rem;}
.hidden_field{ display:none;}
body .list_block li{clear: both !important; }
.uppy-Dashboard-innerWrap
{
    width:200px;
    height:200px;
}
.uppy-Dashboard-inner
{
    width:200px;
    height:200px;
    border:0;
    border-radius: 3px;
}
.uppy-Dashboard-AddFiles-title
{
    font-size:12px;
    width:100px;
    margin:auto;
}
.uppy-DashboardContent-bar
{
    height:30px;
}   
.uppy-Dashboard-innerWrap
{
    width:180px;
    height:150px;
}

.uppy-Dashboard
{
    height:150px;                                                                                                                                                                                                                                                   
    width:180px;
    
}
.col-md-6{ float: left; width: 50%;}
.thumb_img{ float: left; width: 40px; height: 40px;}
.thumb_img img{     width: 100%;
    object-fit: cover;
    background: red;
    height: 100%;
} 
.verified_form label{ float: left; width: 100px !important; margin-left: 0}
.verified_form span{ float: left; width: 100%;}
.verified_form input[type="checkbox"]{ float: left; margin-right: 10px;}
.verified_form .helptext{ font-weight: normal; font-size: 12px;color: #777; float: left; width: auto !important;}
.verified_form textarea[name="description"]{ height: 50px; }
/* .verified_form .uppy-Dashboard-innerWrap{ height: 80px;} */
.verified_form input[type="submit"]{ margin-left: 105px;}

.actions_img{ border-bottom: 1px solid #ddd; position: absolute; padding: 5px; background-color: #fff; border-radius: 2px; margin: 5px; z-index: 1000;}
.actions_img i{ font-size: 20px; color: #999; }
#rotate_btn{ border:0; background-color: transparent; }

.register .btn{  padding: 10px 15px; border: none; border-radius: 4px; margin-left:15px !important;  cursor: pointer; margin-left: 0; color: #fff;}
.register .btn:hover{ background-color: #417690;} */
.js-inline-admin-formset.inline-group{ border:1px solid #ececec}
.custom-file-input{ opacity: 1 !important;}
.form-horizontal select{ height: 40px !important; }
.form-contain .form-group{ padding: 0 10px; float: left; width: 100%;}
@media only screen and (max-width: 600px) {
.uppy-Dashboard{ margin: 0 auto; }
}
#content-main .btn{ background-color: #417690; color: #fff;  padding: 10px; border-radius: 5px;}
#content-main .btn:hover{background-color:#79aec8}
ul.errorlist{ background-color: transparent; display: block;}
.helptext{ margin-left: 110px; float: left; width: 100%;}
.cotainer form input,.cotainer form select,.cotainer form textarea{ display: block;}
.bg-theme{ background-color: #e35d2d !important;}
.bg-heading{ background-color: #2957A4  !important;}
.main-header{ padding: 10px; border-radius: 3px;}


body .form_label a i{ position: relative; top: 4px; }
body .form_label a{ text-transform: none !important;}
body .form_label .btn{ height: 40px !important; line-height: 25px !important; }

/* **************************************** */
            /* SideBar */
/* **************************************** */
.sidenav li>a>[class^=mdi-], .sidenav li>a>i, .sidenav li>a>i.material-icons, .sidenav li>a li>a>[class*=mdi-]{ margin: 0 8px 0 0 !important;}
body .sidenav-fixed .collapsible-body #menu a{ text-decoration: none !important; padding-left: 40px !important;}
.sidenav .user-view{ margin-bottom: 0 !important;}
.sidenav .collapsible-body li a, .sidenav.fixed .collapsible-body li a{ padding-left: 30px !important; }
.sidenav .collapsible-body>ul:not(.collapsible)>li.active, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active{ background-color:#2957A4  !important; }
.sidenav-fixed .collapsible-body li a,.parent-menu span { padding-left: 30px !important;}
body .sidenav-fixed .collapsible-body #menu.parent-menu.active{ color: #fff  !important; padding: 0 !important; background-color: white !important; }
.sidenav-fixed .collapsible-body .parent-menu.active span{   padding-left: 30px !important; background-color:#2957A4  !important;display: block;}
.sidenav-fixed .collapsible-body .parent-menu.active li{ background-color: #efefef;   }
.sidenav-fixed .collapsible-body .parent-menu.active li a{ color: #666 !important; }
.parent-menu.active a{ padding-left: 10px !important; }
body .sidenav-fixed .collapsible-body #menu.parent-menu{ background-color: #e5e2e2 !important;}
body .sidenav-fixed .collapsible-body #menu.parent-menu li{ background-color: #fff;}

/* **************************************** */
            /* Navbar */
/* **************************************** */
nav.topbar{ background-color: #e35d2d !important;}
nav.topbar .brand-logo{ font-size: 1.6rem;}
nav.topbar .brand-logo{ top: 0;}
nav.topbar, nav.topbar a.button-collapse, nav.topbar a.button-collapse i, nav.topbar i{ line-height: 50px !important; height: 50px!important;}
.breadcrumbs{ display: none;}
main .content{     display: block;
    float: left;
    width: 100%;
    position: relative;
    top: -5px; }
/* **************************************** */
            /* Ujjwala Index Page */
/* **************************************** */

.fa-whatsapp{ color: green; font-size: 20px; font-weight: bold; position: relative; top: 3px;}
.reno-bg{
    background-image: url("https://www.arungas.com/wp-content/uploads/2022/04/reno-bg-2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.uppy-Dashboard-AddFiles .uppy-Dashboard-AddFiles-title{ font-size: 12px !important; margin: 0 !important;}
.uppy-Dashboard-inner .uppy-Dashboard-files{ padding: 0 !important;}
#family_members_tree .uppy-Dashboard-inner .uppy-StatusBar.is-complete{ width: 50% !important;}
#family_members_tree .uppy-Dashboard-inner .uppy-StatusBar-actions{ right: -100px !important; top: -65px;}
#family_members_tree .uppy-DashboardContent-title{ color: #fff; top: -6px;}
#family_members_tree .uppy-StatusBar-actionBtn--done{left: 91px;
    z-index: 99999;
    opacity: 0;
    padding: 10px;
    position: absolute;
    width: 73px;
    top: -26px;}
#family_members_tree .uppy-StatusBar-actions:after{ padding: 0 17px; content: "Re-upload";
z-index: 9999;
position: absolute;
height: 30px;
width: 200px;left: 77px; top: -34px;
color: #222; font-weight: bold; text-transform: uppercase; }
#family_members_tree  .uppy-StatusBar-actions{ position: relative;}
#family_members_tree .uppy-Dashboard-inner {
    border: 0;
    border-radius: 3px;
}
#family_members_tree p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 13px;
    font-weight: 500;
}
.uppy-Dashboard-Add -title {
    font-size: 12px;
    margin: auto;

}
#family_members_tree .uppy-DashboardContent-bar {
    height: 30px;
}

.content-inner {
    padding: 25px 30px;
    padding-bottom: 5px;
    margin: 15px -25px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.featured-icon-box.icon-align-top-content.style4 {
    margin: auto;
    padding: 30px 25px 25px;
    background-color: #fff;
    margin-top: 50px;
}

.bor_rad_5 {
    border-radius: 5px;
}

.featured-icon-box {
    position: relative;
    margin: 15px 0;
}

.text-center {
    text-align: center !important;
}

.header3 {
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
}
.header2 {
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}
.cust-border{ border-bottom: 2px dotted #000;}
.show-sign-block{ display: block; }
#family_members_tree .uppy-DashboardContent-bar {
    border-radius: 5px !important;
    width: 50%;
    border-right: 1px solid #ddd;
    background: green;
}
.term_link:hover {
    color: #2275d7e6 !important;
}
.custom-file-input{ opacity: 1;}
.nav-wrapper{ margin: 0 !important;}


/* **************************************** */
            /* pre-inspection-OTP */
/* **************************************** */

#pre-inspection-OTP .card{width:400px;border:none;height:300px;box-shadow: 0px 5px 20px 0px #d2dae3;z-index:1;display:flex;justify-content:center;align-items:center}
#pre-inspection-OTP .card h6{color:red;font-size:20px}.inputs input{width:40px;height:40px}
#pre-inspection-OTP input[type=number]::-webkit-inner-spin-button, #pre-inspection-OTP input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none;-moz-appearance: none;appearance: none;margin: 0}
#pre-inspection-OTP .card-2{background-color:#fff;padding:10px;width:350px;height:100px;bottom:-50px;left:20px;position:absolute;border-radius:5px}
#pre-inspection-OTP .card-2 .content{margin-top:50px}
#pre-inspection-OTP .card-2 .content a{color:red}
#pre-inspection-OTP .form-control:focus{box-shadow:none;border:2px solid red}
#pre-inspection-OTP .validate{border-radius:20px;height:40px;background-color:red; border:1px solid red;width:140px}


/* **************************************** */
            /* pre-inspection-select mobile */
/* **************************************** */

#id_mobile_container label{ color: #9e9e9e; font-weight: 500;}
.list_block li{clear: both !important; }

/* **************************************** */
        /* otp mobile */
/* **************************************** */
