/* 
.btn
{
    margin-left:62px;
    width:250px;
}
     */
.uppy-Dashboard-innerWrap
{
    width:200px;
    height:200px;
}
.uppy-Dashboard-inner
{
    width:200px;
    height:200px;
    border:0;
    border-radius: 3px;
}

.uppy-Dashboard-AddFiles-title
{
    font-size:12px;
    width:100px;
    margin:auto;
    
}
.uppy-DashboardContent-bar
{
    
    height:30px;
}

        
.uppy-Dashboard-innerWrap
{
    width:180px;
    height:150px;
}

.uppy-Dashboard
{
    height:150px;                                                                                                                                                                                                                                                   
    width:180px;
    
}

.col-md-6{ float: left; width: 50%;}
.thumb_img{ float: left; width: 40px; height: 40px;}
.thumb_img img{     width: 100%;
    object-fit: cover;
    background: red;
    height: 100%;
} 
.verified_form label{ float: left; width: 100px !important; margin-left: 0}
.verified_form span{ float: left; width: 100%;}
.verified_form input[type="checkbox"]{ float: left; margin-right: 10px;}
.verified_form .helptext{ font-weight: normal; font-size: 12px;color: #777; float: left; width: auto !important;}
.verified_form textarea[name="description"]{ height: 50px; }
/* .verified_form .uppy-Dashboard-innerWrap{ height: 80px;} */
.verified_form input[type="submit"]{ margin-left: 105px;}

.actions_img{ border-bottom: 1px solid #ddd; position: absolute; padding: 5px; background-color: #fff; border-radius: 2px; margin: 5px; z-index: 1000;}
.actions_img i{ font-size: 20px; color: #999; }
#rotate_btn{ border:0; background-color: transparent; }
.form-control{margin-left:15px;}
p{margin-left:15px;}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0 15px;
}
.register .btn{  padding: 10px 15px; border: none; border-radius: 4px; margin-left:15px !important;  cursor: pointer; margin-left: 0; color: #fff;}
.register .btn:hover{ background-color: #417690;} */
.js-inline-admin-formset.inline-group{ border:1px solid #ececec}
.custom-file-input{ opacity: 1 !important;}
.form-horizontal select{ height: 40px !important; }
.form-contain .form-group{ padding: 0 10px; float: left; width: 100%;}


  
  @media only screen and (max-width: 600px) {
    .uppy-Dashboard{ margin: 0 auto; }
  }
#content-main .btn{ background-color: #417690; color: #fff;  padding: 10px; border-radius: 5px;}
#content-main .btn:hover{background-color:#79aec8}
ul.errorlist{ background-color: transparent; margin-left: 110px; display: block;}
.helptext{ margin-left: 110px; float: left; width: 100%;}
.cotainer form input,.cotainer form select,.cotainer form textarea{ display: block;}
