{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<style>
/* .hidden_field{ display:none;}
.card {border-radius: 5px; background: #fbfbfb; border: none;position: relative;}
.mobile-text p{ margin:0;}
#ref_number input{ display: inline-block; width: 80px; border:0;}
.d-block .mobile-text{ font-size: 15px; color: #333; font-weight: 400;}
#resend .cursor{ color:red; cursor: pointer; text-decoration: underline;}
#resend .cursor:hover{ color:#f56b78;}
.ref_no input{ border:0 !important;}
.fw-500 { font-weight:500;}
.text-red{  color:#ff5c6c !important;}
.form_label .input_otp{    
  border-radius: 3px !important; border: 1px solid #ccc;margin-top: 10px; background-color: #fff !important; height: 37px !important;
  width: 100px !important; margin: 0 auto !important; display: block;}
.form_label label {
    font-size: 14px;
    font-weight: 600;
    color: #666;
    font-weight: 500;
    line-height: 26px;
} */
</style>
<div class="main p-3 pt-0 form_label">
    <form method="post" id="">
        {% csrf_token %}
        {{ form.form_type }}
        {{ form.application_id }}
        <div class="hidden_field">
          {{ form.reference_number }}
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="m-0 mb-1 mt-1">Pre Inspection Mobile phone verification</h5>
          </div>
          <div class="card-body">
            <div class="center">
                <span class="mobile-text">
                    <label>Enter the code we just sent on your phone <b>{{mobile}}</b>  <br>वह कोड दर्ज करें जो हमने अभी आपके <b>{{mobile}}</b> फ़ोन पर भेजा है</label><br>
                    <b id="ref_number" class="text-color">valid for 5m  </b>
                    <p class="m-0 ref_no fw-500 mt-2 text-red">Ref No: {{ form.reference_number.value }}</p>
                </span>
            </div>
            <div class="d-flex flex-row mt-2">
              <input type="text" name="otp" class="form-control text-center input_otp" autofocus="" style="border: 1px solid #ccc;" />
            </div>
            <div class="text-center mt-2">
              <span class="d-block mobile-text text-red fw-500" id="countdown"></span>
              <span class="d-block mobile-text text-red fw-500" id="resend"></span>
            </div>
          </div>
             <div class="card-footer float-right">
                <input class="btn btn-success float-right rounded-0" type="submit" value="Submit" />
            </div>
          </div>
        </div>
    </form>
    <script src="{% static '/js/otp.js' %}"></script>
    <script>
        document.getElementById("ref_number input").readOnly = true;
    </script>
</div>
<script>
  document.getElementById("id_reference_number").readOnly = true
</script>
{% endblock %}
