{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}Post-Installation List - {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <div class="p-2 pt-0 form_label" style="width: 100%;">
        {% for obj in object_list %}
            <a href="{% url 'post_inspection_form_view' pk=obj.pk %}">
                <div class="card mb-2 app_card list_block">
                    <div class="card-header">
                        <ul class="m-0">
                            <li>
                                <p class="float-left">{{ obj.parent.name }} ({{ obj.parent_id }})</p>
                                <p class="float-right">{{ obj.get_status_display }} ({{ obj.id }})</p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body pb-0 p-2">
                        <ul class="m-0">
                            <li>
                                <p class="float-left">Mobile: {{ obj.parent.mobile_number }}</p>
                                <p class="float-right">Consumer Id: {{ obj.parent.consumer_id }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <table>
        <tr>
            <td colspan="2">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}