{% extends "material/frontend/base_module.html" %}
{% load static %}
{% load material_form %}
{% block page_title %}Post Inspection Form - {{ customer_profile.name }} ({{ customer_profile.id}}){% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    {% comment %} <link rel="stylesheet" href="https://themesdesign.in/tailwick/html/assets/css/tailwind2.css"> {% endcomment %}
    <style>
        .hidden-field{ display: none;}
        .form_label .card{ width: 100%;  }
        .address_form label{ margin-bottom: 5px; }
        #address_form .form_block input{ padding-left:5px; border-radius: 3px; border: 1px solid #ccc; width: 100%; line-height: 40px; }
        .form_block label{ float: left; width: 100%; }
        .first_block{ vertical-align: top;}
        .address_grid{ font-size:12px; font-weight:600;}
        .address_grid td{ padding:5px 10px; }
        .address_grid td:last-child{ color:#666;}
        .btn-border{ background:transparent; }
        #pre_inspection_form { width:600px;}
        .uid_block ul li { display:inline-block; width:48%;  }
    </style>
    <div id="pre_inspection_form" class="row m-0 p-2">
        <table class="table table-bordered">
            <tr>
                <th colspan="2">Consumer Id: {{ customer_profile.consumer_id }} </th>

            </tr>
            <tr>
                <td><p>Profile Photo</p></td>
                <td>
                    {%  if profile_photo_update.completed %}
                    <a href="{{ profile_photo_update.data.profile_photo }}">
                        <img src="{{ profile_photo_update.data.profile_photo }}" style="height: 100px;" alt="Profile Photo">
                    </a>
                    {% else %}
                        <p>
                            <a href="{% url 'post_inspection_profile_photo_update' pk=post_inspection.id %}" data-turbolinks="false" class="">Update Profile Photo</a>
                        </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><p>Aadhar Photos</p></td>
                <td class="uid_block">
                    <ul class="m-0">
                        <li>
                            {%  if uid_photo_update.completed %}
                            <a href="{{ uid_photo_update.data.uid_front_photo }}">
                                <img src="{{ uid_photo_update.data.uid_front_photo }}" style="height: 100px; padding:5px;" alt="UID Front">
                            </a>
                            <p>UID Back Front Photo</p>
                            {% else %}
                                <p>
                                    <a href="{% url 'post_inspection_uid_photo_update' pk=post_inspection.id %}" data-turbolinks="false" class="">Update Aadhar Photos</a>
                                </p>
                            {% endif %}
                        </li>
                        <li>
                            {%  if uid_photo_update.completed %}
                                <a href="{{ uid_photo_update.data.uid_back_photo }}">
                                    <img src="{{ uid_photo_update.data.uid_back_photo }}" style="height: 100px; width: 100px; padding:5px;" alt="UID Back">
                                </a>
                                <p>UID Back Photo</p>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><p>Kitchen Photo</p></td>
                <td>
                    {%  if kitchen_photo_update.completed %}
                    <a href="{{ kitchen_photo_update.data.kitchen_photo }}">
                        <img src="{{ kitchen_photo_update.data.kitchen_photo }}" style="height: 100px;" alt="Kitchen Photo">
                    </a>
                    {% else %}
                        <p>
                            <a href="{% url 'post_inspection_kitchen_photo_update' pk=post_inspection.id %}" data-turbolinks="false" class="">Update Kitchen Photo</a>
                        </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><p>Main Gate Photo</p></td>
                <td>
                    {%  if main_gate_photo_update.completed %}
                        <a href="{{ main_gate_photo_update.data.main_gate_photo }}">
                            <img src="{{ main_gate_photo_update.data.main_gate_photo }}" style="height: 100px;" alt="Main Gate Photo">
                        </a>
                        <p>Google Map Will Be Here</p>
                    {% else %}
                        <p>
                            <a href="{% url 'post_inspection_main_gate_photo_update' pk=post_inspection.id %}" data-turbolinks="false" class="">Update Main Gate Photo</a>
                        </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><p>Suraksha Pipe Photo</p></td>
                <td>
                    {%  if suraksha_pipe_update.completed %}
                        <a href="{{ suraksha_pipe_update.data.suraksha_pipe }}">
                            <img src="{{ suraksha_pipe_update.data.suraksha_pipe_photo }}" style="height: 100px;" alt="Main Gate Photo">
                        </a>
                    {% else %}
                        <p>
                            <a href="{% url 'post_inspection_suraksha_pipe_update' pk=post_inspection.id %}" data-turbolinks="false" class="">Update Suraksha Pipe</a>
                        </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><p>Address</p></td>
                <td>
                    {%  if address_update.completed %}
                    <p>House Type {{address_update.data.house_type}},Floor {{address_update.data.floor}}, Room No. {{address_update.data.room_no}},
                        House No. {{address_update.data.house_no}}, Street No. {{address_update.data.street_no}}, Pincode {{address_update.data.pincode}},
                        Village {{address_update.data.village}}
                    </p>
                    {% else %}
                    <p>
                        <a href="{% url 'post_inspection_address_update' pk=post_inspection.id %}" data-turbolinks="false" class="">Update Address</a>
                    </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th colspan="2" class="card-footer">
                    <form method="post" id="form" style="width: 100%;">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <p class="text-right"><input class="btn btn-secondary float-right" type="button" id="form" onclick="submit()"  value="Submit"/></p>
                    </form>
                </th>
            </tr>

        </table>
    </div>
{% endblock %}
<style>
    #basic_tables t{ }
</style>