{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}<span style="font-size:16px;">Update Main Gate Photo</span> 
    <b style=" color:#f3e9df;">({{ customer_profile.id}}) {{ customer_profile.name }} </b>
{% endblock %}  
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<script src="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.js"></script>
<style>
    .overlay_location_outer{ display:none;}
</style>

<div class="main p-2 pt-0 form_label">
    <form method="post" id="">
{#        {% csrf_token %}#}
<div class="photo_block p-0">
            <div class="card">
                {{form.form_type}}
                {{form.application_id}}
                {{form.name}}
                <div class="form-group input_form" style="margin-bottom: 0 !important;">
                    <div class="card-header border-bottom">
                        <span class="hidden_field">{{ form.main_gate }}</span>
                        <label class="text-left m-0 p-0">Main Gate Photo</label>
                    </div>
                    <p id="main_gate" class="p-2"></p>
                    {{ form.main_gate.errors }}
                </div>
                <div class="photo_block">
                    <div class="main-header bg-heading" style="border-radius:0;background-color: #ff5c6c !important; display: block; width: 100%;">
                        <i class="fa fa-hand-o-right mr-2" style="color: white; font-size:18px"></i><span class="text-white">महत्वपूर्ण जानकारी</span>
                    </div>
                    <div class="row p-2 m-0" style="background-color: #efefef;">
                        <p style="color: #2957A4; font-weight: bold; margin-bottom: 10px !important;">किसी खुले क्षेत्र में जाएं और लोकेशन को  कैप्चर करें। 
                        </p>                            
                    </div>
                    <div class="lacation_field col-sm-12">
                        <div class="" style="width: 100%; clear:both;">
                            <span>{{ form.latitude }}</span>
                            <span>{{ form.longitude }}</span>
                            <span>{{ form.accuracy }}</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="allowLocationNav p-2">
                            <button type="button" class="btn btn-primary" onClick="allowLocationNav();">
                                कैप्चर लोकेशन
                            </button>
                        </div>
                    </div>
                    <div class="lacation_field col-sm-12">
                        {{ form.latitude.errors }} {{ form.longitude.errors }} {{ form.accuracy.errors }}
                        <p class="text-danger mt-2" style="font-weight: 500;" id="map_error_msg"></p>
                    </div>
                </div>
                <div class="card-footer p-2">
                    <input class="btn btn-success float-right rounded-0" type="submit" value="Submit" />
                </div>
            </div>
        </div>

    </form>
    <div id="add_location"></div>
</div>
<script src="{% static '/js/location_2022_07_15.js' %}"></script>
<script>
    {#function readCookie(name) {#}
    {#    name += '=';#}
    {#    for (var ca = document.cookie.split(/;\s*/), i = ca.length - 1; i >= 0; i--)#}
    {#        if (!ca[i].indexOf(name))#}
    {#            return ca[i].replace(name, '');#}
    {#}#}
    {#debugger;#}
    {#var referral = readCookie("referral_username");#}
    {#if (referral){#}
    {#    $("#referral_user").html(referral);#}
    {#}#}
    $(document).ready(function() {
        ensureLocationAccess();
        allowLocationNav();
    });

     window.mainGatePhotoUppy = new Uppy.Core({
		debug: true,
		autoProceed: true,
		restrictions: {
			maxFileSize: 50000000,
			maxNumberOfFiles: 1,
			minNumberOfFiles: 1,
			allowedFileTypes: ['image/*'],
		}
	})
    .use(Uppy.Dashboard, {
        trigger: '#main_gate',
        inline: true,
        target: '#main_gate',
        showProgressDetails: true,
        note: 'Images and video only, 2–3 files, up to 10 MB',
        height: 200,
        metaFields: [],
        id: 'main_gate',
        waitForThumbnailsBeforeUpload: true,
        doneButtonHandler: () => {
            // this.uppy.reset()
            // this.requestCloseModal()
        },
        showRemoveButtonAfterComplete: true,
        theme: 'light',
        locale: {
            strings: {
                dropPasteFiles: 'फोटो अपलोड करने के लिए यहाँ पर क्लिक करे %{browseFiles}',
                done: '-',
                uploadComplete: 'अपलोड पूरा हो गया है',
                complete: 'पूरा हुआ',
            }
        },
    })
    .use(Uppy.Tus, {
        endpoint: 'https://tus.dca.arungas.com/files/',
    })
    mainGatePhotoUppy.on('complete', result => {
		$('#id_main_gate').val(result.successful[0].uploadURL);
	})
</script>
{% endblock %}
