{% extends "material/frontend/base_module.html" %}
{% load static %}
{% load material_form %}
{% block page_title %}<span style="font-size:16px;">Update Address</span> 
    <b style=" color:#f3e9df;">({{ customer_profile.id}}) {{ customer_profile.name }} </b>
{% endblock %}  
{% block content %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <style>
        .hidden-field{ display: none;}
        .form_label .card{ width: 100%;  }
        .address_form label{ margin-bottom: 5px; }
        #address_form .form_block input{ padding-left:5px; border-radius: 3px; border: 1px solid #ccc; width: 100%; line-height: 40px; }
        .form_block label{ float: left; width: 100%; }
        #address_form label{ padding-left:10px; float:left; } 
        #address_form input{ float:right; }
        #address_form input{ margin:0; height: 2rem; float:right; width:70%; }
        .input-field>label:not(.label-icon).active{ transform:none;}
    </style>
    <div id="address_form" class="row m-0 form_label p-2">
        <div class="card card-profile pt-0 mt-0 " style="width: 100%;" >
            <div class="card-header border-bottom">
                <label class="text-left m-0 p-0">Update Address</label>
            </div>
            <form class="pt-2" method="post" id="form" style="width: 100%;">
                {% csrf_token %}
                <div class="card-body p-0">
                    {% form form=form %}{% endform %}
                </div>
                <div class="card-footer mt-3 p-2" style="float:left; width:100%;">
                    <button class="btn btn-secondary float-right" type="button" id="form" onclick="submit()" value="Submit"/>Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function submit() {
            if(!$('#form')[0].reportValidity()) {
                alert("Please complete all required fields");
                return;
            }

            if (!validate_pincode()) {
                return;
            }
        }

        function validate_pincode() {
            if(!$('#id_pincode')[0].reportValidity()) {
                return;
            }
            let pincode = parseInt($('#id_pincode').val());
            if(pincode && pincode >= 141001 && pincode <= 141014) {
                return true;
            }
            alert("We don't provide service this Pin code area. हम इस पिन कोड क्षेत्र में सेवा प्रदान नहीं करते हैं");
            return false;
        }
    </script>
{% endblock %}
