{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}<span style="font-size:16px;">Update UID Photo</span> 
    <b style=" color:#f3e9df;">({{ customer_profile.id}}) {{ customer_profile.name }} </b>
{% endblock %}      
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://arungas.com/public/ujwalla/css/signature-pad.css">
<script src="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.js"></script>
<style>
    .photo_block{ margin:0 auto; display:block;}
    .uppy-Dashboard { margin:0 auto; text-align:center;}
    
</style>
{#<script src="{% static '/js/location_2022_07_15.js' %}"></script>#}
<div class="main p-2 pt-0 form_label">
    <form method="post" id="upload_sign_and_submit_form">
    {#{% csrf_token %}#}
        <div class="card">
            {{form.form_type}}
            {{form.application_id}}
            {{form.name}}
            <div class="row m-0">
                <div class="col-md-6 pb-2 p-0">
                    <div class="photo_block p-0 text-center">
                        <span class="hidden_field">{{ form.uid_front_photo }}</span>
                        <div class="card-header border-bottom">
                            <label class="text-center m-0 p-0">UID Front</label>
                        </div>
                        <div class="col-12 photo_block p-0 pt-2">
                            <p id="uid_front_photo"></p>
                            {{ form.uid_front_photo.errors }}
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 pb-2 p-0 border-left">
                    <div class="col-12 photo_block p-0 text-center">
                        <span class="hidden_field">{{ form.uid_back_photo }}</span>
                        <div class="card-header border-bottom">
                            <label class="text-center m-0 p-0">UID Back</label>
                        </div>
                        <div class="col-12 photo_block p-0 pt-2">
                            <p id="uid_back_photo"></p>
                            {{ form.uid_back_photo.errors }}
                        </div>
                    </div>
                </div>
            </div> 
            <div class="card-footer block">
                <input class="btn btn-success rounded-3" type="submit"  value="अगला पेज">
            </div>  
        </div>   
    </form>
    <div id="add_location"></div>
</div>
{#<script src="{% static '/js/location_2022_07_15.js' %}"></script>#}
<!-- <script src="{% static '/json/uppy-in.json' %}"></script> -->
<script>
    $(document).ready(function() {
        allowLocationNav();
        ensureLocationAccess();
        
    });
    window.uidFrontUppy = new Uppy.Core({
		debug: true,
		autoProceed: true,
		restrictions: {
			maxFileSize: 50000000,
			maxNumberOfFiles: 1,
			minNumberOfFiles: 1,
			allowedFileTypes: ['image/*'],
		}
	})
    .use(Uppy.Dashboard, {
        trigger: '#uid_front_photo',
        inline: true,
        target: '#uid_front_photo',
        showProgressDetails: true,
        note: 'Images and video only, 2–3 files, up to 10 MB',
        height: 200,
        metaFields: [],
        id: 'uid_front_photo',
        waitForThumbnailsBeforeUpload: true,
        doneButtonHandler: () => {
            // this.uppy.reset()
            // this.requestCloseModal()
        },
        showRemoveButtonAfterComplete: true,
        theme: 'light',
        locale: {
            strings: {
                dropPasteFiles: 'फोटो अपलोड करने के लिए यहाँ पर क्लिक करे %{browseFiles}',
                done: '-',
                uploadComplete: 'अपलोड पूरा हो गया है',
                complete: 'पूरा हुआ',
            }
        },
    })
    .use(Uppy.Compressor, {
        quality: 0.92,
        maxWidth: 2048,
        resize: 'contain',
        limit: 10,
    })
    .use(Uppy.Tus, {
        endpoint: 'https://tus.dca.arungas.com/files/',
    })
    uidFrontUppy.on('complete', result => {
		$('#id_uid_front_photo').val(result.successful[0].uploadURL);
	})

    window.uidBackUppy = new Uppy.Core({
		debug: true,
		autoProceed: true,
		restrictions: {
			maxFileSize: 50000000,
			maxNumberOfFiles: 1,
			minNumberOfFiles: 1,
			allowedFileTypes: ['image/*'],
		}
	})
    .use(Uppy.Dashboard, {
        trigger: '#uid_back_photo',
        inline: true,
        target: '#uid_back_photo',
        showProgressDetails: true,
        note: 'Images and video only, 2–3 files, up to 10 MB',
        height: 200,
        metaFields: [],
        id: 'uid_back_photo',
        waitForThumbnailsBeforeUpload: true,
        doneButtonHandler: () => {
            // this.uppy.reset()
            // this.requestCloseModal()
        },
        showRemoveButtonAfterComplete: true,
        theme: 'light',
        locale: {
            strings: {
                dropPasteFiles: 'फोटो अपलोड करने के लिए यहाँ पर क्लिक करे %{browseFiles}',
                done: '-',
                uploadComplete: 'अपलोड पूरा हो गया है',
                complete: 'पूरा हुआ',
            }
        },
    })
    .use(Uppy.Compressor, {
        quality: 0.92,
        maxWidth: 2048,
        resize: 'contain',
        limit: 10,
    })
    .use(Uppy.Tus, {
        endpoint: 'https://tus.dca.arungas.com/files/',
    })
    uidBackUppy.on('complete', result => {
		$('#id_uid_back_photo').val(result.successful[0].uploadURL);
	})
</script>
{% endblock %}
