{% load img_utils %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pre installation Checking</title>
    <meta name="description"
          content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

    <style>
        table tr td p {
            line-height: 24px;
        }

        .img_block span {
            display: block;
        }

        .sign_right {
            float: left;
            margin-left: 30px;
        }

        .sign_img img {
            width: 100px;
            height: 100px;
        }

        .form_block ul {
            float: left;
            width: 100%;
            padding: 0;
        }

        .form_block ul li {
            list-style: none;
            margin-bottom: 10px;
            float: left;
            width: 100%;
        }

        .border-dotted {
            border-bottom: 2px dotted #000;
        }


        .row {
            display: flex;
            margin: 0 0 15px 0;
        }

        .text {
            flex: 1 1 auto;

        }

        .label {
            flex: 0 0 auto;
            margin-right: 10px;
        }

        .form_block {
            background: url(img/ujwal-bg.png) no-repeat 0 50%;
            background-position: center;
            /* will also set the opacity of the link text */
        }

        .img_block li {
            list-style: none;
            display: inline-block;
        }

        .img_block li img {
            width: 150px;
            height: 150px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="main p-2">
    <div class="container" style="max-width: 800px;">
        <div class="top_banner pt-3">
            <img src="https://arungas.com/public/ujwalla/banner.png" style="width: 100%;">
        </div>
        <h5 class="pt-3 mb-5" style="text-align: center; font-weight: 500; line-height: 40px;"> 
            अरुण इंडने, चीमा चौक<br>
            इंस्टालेशन फॉर्म उज्ज्वला
<!--<br><span style="color:red"><b>जरुरी सुचना:</b> सभी सेवाएं निःशुल्क हैं </span> -->
            <h2 style="text-align: center; font-weight: 600; line-height: 30px;">Form D ({{ app_id }})</h2>
        </h5>
        <table style="width: 100%;">
            <!-- <tr>
                <td class="float-right">दिनांक <span class="border-dotted"
                                                     style="width: 150px; display: inline-block;">{{ obj.date }}</span>
                </td>
            </tr> -->
            <!-- <tr> 
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="width: 550px; display: inline-block;">
                                        <div class="row">
                                            <div class="label">1. </div>
                                            <div class="text" style="font-size: 13px; font-weight: bold;">Arun Indane,
                                                329,Cheema Chowk, <br>Industrial Area-A, Ludhiana,Punjab 141003
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 550px; display: inline-block;">
                                        <div class="row">
                                            <div class="label">1. मैं
                                            <div class="text border-dotted">{{ obj.parent.name }}</div>पत्नी/बेटी
                                            <div class="text border-dotted">{{ obj.parent.name }}</div>
                                            । मैं तहसील लुधिआना जिला लुधिआना की रहने वाली हूँ।</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 550px; display: inline-block;">
                                        <div class="row">
                                            <div class="label"></div>
                                            <!-- <div class="text border-dotted">{{ obj.parent.contact_mobile }}</div> 
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 550px; display: inline-block;">
                                        <div class="row">
                                            <div class="label">3. मुझे मेरा गैस कनेक्शन मिल चूका है। </div>
                                            <!-- <div class="text border-dotted">{{ obj.parent.kyc }}</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="float:right; width:200px;">
                            <ul class="img_block">
                                <li class="float-right">
                                    <img style="object-fit: cover; height: 150px; object-position: top"
                                         src="{{ obj.parent.document_self|resize:"1000x200" }}">
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </tr>

            <tr> 
                <td>
                    <div class="row">
                        <div class="label">पताः</div>
                        <div class="text border-dotted">{{ obj.parent.get_address_for_sdms_upload.addr_str }}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="label">मैं</div>
                        <div class="text border-dotted"
                             style="width:200px">{{ obj.mechanic.first_name }} {{ obj.mechanic.last_name }}</div>
                        <div class="label">तारीख पर</div>
                        <div class="text border-dotted" style="width:200px; font-size: 12px">{{ obj.created_on }}</div>
                        <div class="label">ग्राहक के परिसर का निरीक्षण किया है</div>
                    </div>
                </td>
            </tr>-->
            <tr>
                <td>
                    <div class="row">
                        <div class="label">1. मैं</div>
                        <div class="text border-dotted"
                             style="width:200px">{{ name }}</div>
                        <div class="label">आधार नंबर :</div>
                        <div class="text border-dotted" style="width:200px; font-size: 12px">{{ uid_no }}</div>
                         <div class="label">1. मैं तहसील लुधिआना जिला लुधिआना की रहने वाली हूँ।</div>
                    </div>
                </td>
            </tr>
            <tr class="mt-3">
                <td>
                    <p>2. मैंने अरुण इंडेन, चीमा चौक में उज्ज्वला गैस कनेक्शन लेने के लिए फॉर्म भरा था।
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>3.  मेरा गैस कनेक्शन मिल चूका है।मुझे दिए गए सिलिंडर का वजन एवं लीकेज मेरे सामने चेक किया गया हैं।
                        <!-- <span class="float-right">नही</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>4. मुझे उज्ज्वला कनेक्शन मिल चूका है और मुझसे कोई राशि नहीं ली गई है।
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>5. मुझे सारा सामान मिल गया है जिसमें चूल्हा, रेगुलेटर, सिलिंडर, पाइप, कॉपी, दिया हुआ सारा सामान मेरे घर दिया गया है.
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>6. गैस एजेंसी मैकेनिक द्वारा रसोई में स्टोव रेगुलेटर आदि इनस्टॉल किया गया और मुझे गैस कनेक्शन चलाकर दिखाया गया।
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>7. मुझे गैस कनेक्शन के संबंध में सुरक्षा बिंदुओं के बारे में भी सूचित किया गया है।
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>8. किसी भी दुर्घटना की स्थिति में आपातकालीन हेल्पलाइन नंबर 1906 के बारे में भी बताया गया है।
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>9. ऑनलाइन बुकिंग के संबंध में मुझे गैस एजेंसी के कर्मचारी द्वारा भी सूचित किया गया है।
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>10. मुझे इस पूरी प्रक्रिया में कोई समस्या या कोई शिकायत नहीं है।
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>11. गैस एजेंसी के कर्मचारियों के अच्छे स्वभाव और विनम्र सेवा के लिए मैं तहे दिल से आभारी हूं।
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>नोट :- मैंने पूर्ण सुरक्षा से संबंधित बिंदु संख्या 6,7,8 का उल्लेख किया है। मुझे पूरी जानकारी है
                        <!-- <span class="float-right">हॉं</span> -->
                    </p>
                </td>
            </tr>
        </table>
        <div class="row">
        <div class="col">
            <p>
                <img style="width: 200px" src="data:image/png;base64,{{ qr_code }}">
            </p>
        </div>

        <div class="col">
            <div style="width: 400px;">
                <table>
                    <tr>
                        <td class="float-left">
                            <div class="label">
                                <p style="text-align: left; margin-top: 10px;">
                                    <b>आवेदक का हस्ताक्षर</b>
                                </p>
                            </div>
                        </td>
                        <td class="float-right" style="width: 200px;">
                            <div class="label"><p style="text-align: left;"></p></div>
                        </td>
                    </tr>
                    <tr style="padding-top: 60px">
                        <td class="float-left">
                            <div class="label">हस्ताक्षर:</div>
                        </td>

                    </tr>
                </table>
            </div>
<!-- {#            <div class="col-6 col text-right pt-5 pr-0 sign_img" style="float:right;">#} 
{#                <p><b>मैकेनिक का नाम हस्ताक्षर</b></p>#}
{#                <div class="img_block" style="float:right;">#}
{#                    <img style="float: left; object-fit: contain;" src="{{ obj.document_kitchen_photo|resize:"1000x200"  }}">#}
{#                    <div class="sign_right">#}
{#                        <p>{{ obj.mechanic.name }}</p>#}
{#                        <p>{{ obj.mechanic.mobile }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <p style="text-align: right; align-content: flex-end; margin-right: 30px; margin-top: 30px">
                <b>For Arun Indane</b></br>
                <img style="width: 120px; object-fit: contain;"
                     src="https://www.arungas.com/public/arun_indane_sign.png"/></br>
                <b>Auth. Signatory</b>
            </p>
        </div>
    </div>
{#            <tr>#}
{#                <td>#}
{#                    <p>6. आपको 14.5kg का 1 सिलिंडर या 5kg के 2 के दो सिलिंडर चाहिए#}
{#                        <span class="float-right">5kg</span>#}
{#                    </p>#}
{#                </td>#}
{#            </tr>#}

{#        <table>#}
{#            <tr>#}
{#                <td>#}
{#                    <p style="margin: 30px 0 0 0 ;">उपरोतक प्रार्थी को मै जानता हूँ आज इनके रसोई घर का निरीक्षण हुआ#}
{#                        है।</p>#}
{#                    <p><b>गवाह के हस्ताक्षर/नाम/मोबाइल</b></p>#}
{#                    <div class="img_block sign_img">#}
                        {#                <img style="float: left; object-fit: contain;" src="{{obj.document_witness_photo}}">#}
{#                        <div class="sign_right">#}
{#                            <p>{{ obj.witness_name }}</p>#}
{#                            <p>{{ obj.witness_mobile_number }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}-->
    </div>
                                                <img style="object-fit: cover; height: 150px; object-position: top"
                                         src="{{ obj.parent.document_self|resize:"1000x200" }}">
</div>
</body>
</html>