{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://arungas.com/public/ujwalla/css/signature-pad.css">

<script src="{% static '/js/jquery.js' %}"></script>
<script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js"></script>

<style>
    .signature-pad{ padding: 2px !important;}
    .hidden-field{ display: none;}
    #upload_sign_and_submit_form label{ font-weight: 500; font-size:14px; color: #666 ;}
    #upload_sign_and_submit_form{ padding: 10px;}
    #upload_sign_and_submit_form .uppy-Dashboard-inner{ width: 100% !important;}
    .content { padding-bottom: 0 !important;}
    .signature-pad--actions { margin-top: 0 !important;}
    #select_number_for_otp .radio-field .col{ flex: none; }
    .user_profile img{ height:100px; }
    .user_profile{margin: 0 auto;display: block;text-align: center;}
    .username{ font-size:15px; font-weight:600; color:#ff5c6c !important;}
    .user_address{ font-size:12px; font-weight:500}
</style>
<div class="row m-0 form_label">
    
    <form method="post" id="upload_sign_and_submit_form">
        {% csrf_token %}
        <div class="card">
            {{form.form_type}}
            {{form.application_id}}
            {{form.name}}
            <div class="row pt-2 border-bottom m-0">
                <div class="col user_profile">
                    <img src="{{application.document_self}}"> 
                </div>
                <div class="col">
                    <p class="username mt-2"> {{application.name}}</p>
                    <p class="user_address">
                        {% if address_json == address_json  %}
                            {% for key,data in application.address_json.items %}
                                {{data}},
                            {% endfor %}
                        {% else %}
                            {{ obj.address }}
                        {% endif%}
                    </p> 
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0 !important;">
                <div class="row m-0 p-3">
                    <div class="col-sm-12 photo_block p-0">
                        <span class="hidden-field">{{ form.kitchen_photo }}</span>
                        <label>Photo of customer with kitchen<br> (रसोईघर के साथ ग्राहक की तस्वीर)</label>
                        <p id="kitchen_photo"></p>
                        {{ form.kitchen_photo.errors }}
                    </div>
                    <div class="col-sm-12  photo_block p-0">
                        <input class="hidden-field" id="id_witness_name" name="witness_name" value=""/>
                        <label>Witness Name</label>
                        <input placeholder="गवाह का नाम" id="id_witness_name" name="witness_name" value=""/>
                       {{ form.witness_name.errors }}
                    </div>
                    <div class="col-sm-12  photo_block p-0">
                        <input class="hidden-field" id="id_witness_mobile_number" name="witness_mobile_number" value=""/>
                        <label>Witness Mobile Number</label>
                        <input placeholder="गवाह का मोबाइल नंबर" id="id_witness_mobile_number" type="tel" name="witness_mobile_number" value=""/>
                       {{ form.witness_mobile_number.errors }}
                    </div>
                    <div class="col-sm-12 p-0">
                        <div class="photo_block">
                            <span class="hidden-field">{{ form.witness_signature_photo }}</span>
                            <label>Witness Signature</label>
                            <div id="witness_signature_photo" class="signature-pad">
                                <div class="signature-pad--body">
                                  <canvas></canvas>
                                </div>
                                <div class="signature-pad--footer ">
                                  <div class="signature-pad--actions" style="margin-top: 0 !important;">
                                    <button type="button" class="btn btn-primary clear" data-action="clear">Clear</button>
                                  </div>
                                </div>
                            </div>
                            {{ form.witness_signature_photo.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input class="btn btn-secondary rounded-0" type="submit" id="upload_sign_and_submit_hidden" value="Upload Signature & Submit" style="display:none">
                <input class="btn btn-secondary rounded-0 float-right" type="button" id="upload_sign_and_submit_action" onclick="upload_sign_and_submit()" value="Upload Signature & Submit"/>
            </div>
        </div>
        
    </form>
</div>
<script src="{% static '/js/signature_pad.umd.js' %}" ></script>
<script src=" {% static '/js/signature_app.js' %}"></script>
<script>
    window.kitchenPhotoUppy = new Uppy.Core({
		debug: true,
		autoProceed: true,
		restrictions: {
			maxFileSize: 50000000,
			maxNumberOfFiles: 1,
			minNumberOfFiles: 1,
			allowedFileTypes: ['image/*'],
		}
	})
    .use(Uppy.Dashboard, {
        trigger: '#kitchen_photo',
        inline: true,
        target: '#kitchen_photo',
        showProgressDetails: true,
        note: 'Images and video only, 2–3 files, up to 10 MB',
        height: 200,
        metaFields: [],
        id: 'kitchen_photo',
        browserBackButtonClose: false
    })
    .use(Uppy.Tus, {
        endpoint: 'https://tus.dca.arungas.com/files/',
    })
    kitchenPhotoUppy.on('complete', result => {
		$('#id_kitchen_photo').val(result.successful[0].uploadURL);
	})

    //signaturePad
    function upload_sign_and_submit() {
    
    if (signaturePad.isEmpty()) {
        alert("Please provide a signature first.");
    } else {
        var dataURL = signaturePad.toDataURL();
        var blob = dataURLToBlob(dataURL);
        let sign_uppy = new Uppy.Core({
            debug: true,
            autoProceed: true,
            restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*'],
            }
        })
        .use(Uppy.Tus, {
            endpoint: 'https://tus.dca.arungas.com/files/',
        });
        
        sign_uppy.addFile({
            name: `signature_${new Date().getTime()}_${(Math.random() + 1).toString(36).substring(7)}.png`,
            type: 'image/png',
            data: blob,
            source: 'Local', // optional, determines the source of the file, for example, Instagram.
            isRemote: false, // optional, set to true if actual file is not in the browser, but on some remote server, for example,
        });

        sign_uppy.upload().then((result) => {
            if (result.failed.length > 0) {
                alert("Error Uploading Signature, try again");
                console.error('Errors:')
                result.failed.forEach((file) => {
                    console.error(file.error)
                })
            } else {
                console.info('Successful uploads:', result.successful);
                // submit_form(result.successful[0].uploadURL)
                    $('#id_witness_signature_photo').val(result.successful[0].uploadURL);
                    $('#upload_sign_and_submit_hidden').trigger('click');
            }
        });
    }
}
</script>
{% endblock %}
