{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.css" >
<script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js"></script>
<style>
    body{ font-family: 'muli', sans-serif; font-weight: 500;}
    .hidden-field{ display: none;}
    
    .delete {  background-color: red; border: 0; color: #fff; font-weight: 500; border-radius: 5px;padding: 6px; width: 85px;font-size: 15px;text-transform: uppercase;}
    #safety_audio_form audio{ padding: 10px 0 0 0; }
    #playAudio p{ padding-left: 10px; font-size: 16px; font-weight: 600;}
    .btns{ font-family: 'muli', sans-serif !important; font-weight: 500; width: 100%; line-height: 0.5;}
    .main-controls canvas{ width: 100%; border-radius: 20px; height: 42px; opacity: 0.4;}

</style>
<div class="p-2 pt-0 form_label" style="width: 100%;">
    <form method="post" id="safety_audio_form">
        {% csrf_token %}
        <div class="">
            {{form.form_type}}
            {{form.application_id}}
            <input class="hidden-field" id="id_audio_file" name="audio_file" value=""/>
        </div>
        <div class="card" style="max-width:600px">
            <div class="col-sm-12 photo_block pt-3">
                <label style="color: #212529; padding-left:5px;"> रिकॉर्ड एलपीजी स्थापना सुरक्षा निर्देश </label>
                <section class="main-controls">
                    <canvas class="visualizer" height="60px"></canvas>
                    {{ form.audio_file.errors }}
                    <div id="buttons" class="row mt-2 action-button">
                        <div class="col">
                            <button id="record" class="btns record btn btn-dark" type="button">Record</button>
                        </div>
                        <div class="col">
                            <button id="stop" class="btns stop btn btn-dark" type="button">Stop</button>
                        </div>
                      </div>
                  </section>
                
                <section id="playAudio" class="sound-clips">
                </section>
                <p id="uppy_informer"></p>
                <p id="audio_file"></p>
            </div>

            <div class="card-footer float-right">
                <button class="btn btn-success float-right rounded-3" onclick="upload_audio_and_submit_form()" type="button">Submit</button>
            </div>
            <div class="col-sm-12 card p-0">
                <a href="#" target="_blank" ><img style="width:100%" src="{% static '/img/lpg-security.png' %}"></a> 
            </div>
        </div>
    </form>
</div>
<script src="{% static '/js/recorder.js' %}"></script>
<script>
    window.audioFileUppy = new Uppy.Core({
		debug: true,
		autoProceed: true,
		restrictions: {
			maxFileSize: 50000000,
			maxNumberOfFiles: 1,
			minNumberOfFiles: 1,
			allowedFileTypes: ['audio/*'],
		}
	})
    .use(Uppy.StatusBar, {
        id: 'StatusBar',
        target: '#audio_file',
        hideAfterFinish: true,
        showProgressDetails: false,
        hideUploadButton: false,
        hideRetryButton: false,
        hidePauseResumeButton: false,
        hideCancelButton: false,
        doneButtonHandler: null,
        locale: {},
    })  
    .use(Uppy.Tus, {
        endpoint: 'https://tus.dca.arungas.com/files/',
    })
    .use(Uppy.Informer, {
        id: 'Informer',
        target: '#uppy_informer',
    });

    window.submit_form = function(audio_url) {
        $("[name='audio_file']").val(audio_url);
        $('form#safety_audio_form').submit();
    }


    window.upload_audio_and_submit_form = function () {
        window.audioFileUppy.addFile({
            name: `safety_audio_${new Date().getTime()}_${(Math.random() + 1).toString(36).substring(7)}.ogg`,
            type: 'audio/ogg',
            data: window.audio_blob,
            source: 'Local', // optional, determines the source of the file, for example, Instagram.
            isRemote: false, // optional, set to true if actual file is not in the browser, but on some remote server, for example,
        });

        window.audioFileUppy.upload().then((result) => {
            if (result.failed.length > 0) {
                alert("Error Uploading Signature, try again");
                console.error('Errors:')
                result.failed.forEach((file) => {
                    console.error(file.error)
                });
                
                jQuery('#submit').html('Submit');
                jQuery('#submit').attr('disabled', false);

            } else {
                console.info('Successful uploads:', result.successful);
                submit_form(result.successful[0].uploadURL)
            }
        });
    }
</script>
{% endblock %}
