{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js"></script>
<style>
     .lacation_field span{ float: left; width: 100px; } 
</style>
<div class="main p-2 pt-0 form_label">
    <form method="post" id="">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {{form.form_type}}
                {{form.application_id}}
                <div class="row mb-2 M-0">
                    <div class="col-sm-4 photo_block pl-lg-0 mb-3 p-0">
                        <div class="allowLocationNav">
                            <button type="button" class="btn btn-primary" onClick="allowLocationNav();">
                                Capture Location
                            </button>
                        </div>
                        <div class="lacation_field col-sm-8">
                            <div class="" style="width: 100%; clear:both;">
                                <span>{{ form.latitude }}</span>
                                <span>{{ form.longitude }}</span>
                                <span>{{ form.accuracy }}</span>
                            </div>
                        </div>
                        {{ form.latitude.errors }} {{ form.longitude.errors }} {{ form.accuracy.errors }}
                    </div>
                    <p class="text-danger" style="font-weight: 500;" id="map_error_msg"></p>
                    <div class="col-sm-12 photo_block">
                        <span class="hidden-field">{{ form.main_gate }}</span>
                        <label>Photo of Main Gate with customer<br> (ग्राहक के साथ मेन गेट का फोटो)</label>
                        <p id="main_gate"></p>
                        {{ form.main_gate.errors }}
                    </div>
                </div>
            </div>
            <div class="card-footer float-right">
                <input class="btn btn-success float-right rounded-0" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
<script>
     window.kitchenPhotoUppy = new Uppy.Core({
		debug: true,
		autoProceed: true,
		restrictions: {
			maxFileSize: 50000000,
			maxNumberOfFiles: 1,
			minNumberOfFiles: 1,
			allowedFileTypes: ['image/*'],
		}
	})
    .use(Uppy.Dashboard, {
        trigger: '#main_gate',
        inline: true,
        target: '#main_gate',
        showProgressDetails: true,
        note: 'Images and video only, 2–3 files, up to 10 MB',
        height: 200,
        metaFields: [],
        id: 'main_gate',
        browserBackButtonClose: false
    })
    .use(Uppy.Tus, {
        endpoint: 'https://tus.dca.arungas.com/files/',
    })
    kitchenPhotoUppy.on('complete', result => {
		$('#id_main_gate').val(result.successful[0].uploadURL);
	})

    // lat long accuracy
    function allowLocationNav() {
        navigator.geolocation.getCurrentPosition(
            successCallback,
            errorCallback_highAccuracy,
            {maximumAge:600000, timeout:5000, enableHighAccuracy: true}
        );
        console.log('allowLocationNav');
    }

    function errorCallback_highAccuracy(error) {
        if (error.code == error.TIMEOUT)
        {
            // Attempt to get GPS loc timed out after 5 seconds, 
            // try low accuracy location
            $('#map_error_msg').append("attempting to get low accuracy location");
            navigator.geolocation.getCurrentPosition(
                successCallback, 
                errorCallback_lowAccuracy,
                {maximumAge:600000, timeout:10000, enableHighAccuracy: false});
            return;
        }
        
        var msg = "<p>Can't get your location (high accuracy attempt). Error = ";
        if (error.code == 1)
            msg += "PERMISSION_DENIED";
        else if (error.code == 2)
            msg += "POSITION_UNAVAILABLE";
        msg += ", msg = "+error.message;
        
        $('#map_error_msg').append(msg);
    }

    function errorCallback_lowAccuracy(error) {
        var msg = "<p>Can't get your location (low accuracy attempt). Error = ";
        if (error.code == 1)
            msg += "PERMISSION_DENIED";
        else if (error.code == 2)
            msg += "POSITION_UNAVAILABLE";
        else if (error.code == 3)
            msg += "TIMEOUT";
        msg += ", msg = "+error.message;
        
        $('#map_error_msg').append(msg);
    }

    function successCallback(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        var meter = Math.round(position.coords.accuracy);

        if (meter > 300) {
            $('#map_error_msg').append("<p>किसी खुले क्षेत्र में जाएं और स्थान को फिर से कैप्चर करें। Move to an open area and capture location again. Location accuracy not precise enough! </p>");
            return;
        }

        $('#map_error_msgs').append("<p>Your location is: " + latitude + "," + longitude+" </p><p>Accuracy="+meter+"m");
        $('#id_latitude').val(latitude);
        $('#id_longitude').val(longitude);
        $('#id_accuracy').val(meter + 'm');
        console.log(successCallback);
    }
</script>
{% endblock %}
