{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
<script src="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.js"></script>
<script src="{% static '/js/location_v3_2022_10_06.js' %}"></script>
<style>
     .lacation_field span{ float: left;}
     .lacation_field input{ border: transparent !important; }
</style>

<div class="main p-2 pt-0 form_label">
    <div class="card-header float-center">
        {% include 'ujjwala/disbursement/custom-template/application_detail_template.html' %}
        <br>
        <b>{{ installation_mode }}</b>
    </div>

    <form method="post" id="">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {{form.form_type}}
                {{form.application_id}}
                <div class="row mb-2 M-0">

                    <div class="lacation_field col-sm-12 p-0">
                        <div class="" style="width: 100%; clear:both;">
                            <div class="row">
                                <div class="col-4">
                                    Lat: {{ form.latitude }}
                                </div>
                                <div class="col-4">
                                    Long: {{ form.longitude }}
                                </div>
                                <div class="col-4">
                                    Accuracy: {{ form.accuracy }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="allowLocationNav" style="display: block; width: 100%;" >
                        <button type="button" class="btn btn-primary" onClick="allowLocationNav();">
                            Load Map
                        </button>
                    </div>
                    {{ form.latitude.errors }} {{ form.longitude.errors }} {{ form.accuracy.errors }}
                    <p class="text-danger" style="font-weight: 500;" id="map_error_msg"></p>
                </div>
                {% include 'ujjwala/extra/map.html' %}
            </div>
            <div class="card-footer float-right">
                <button class="btn btn-success float-right rounded-0" onclick="submit_form()" type="button" >Submit</button>
            </div>
        </div>
    </form>
</div>
    <script>
    function submit_form(){
        if(map_obj==undefined){
            alert("Please load map");
            return;
        }

        var distance_from_centre = distance(
            window.deviceLocation.lat, window.deviceLocation.lng,
            map_obj.getCenter().lat(), map_obj.getCenter().lng(),
            'K'
        );
        if (distance_from_centre * 1000 > window.deviceLocation.accuracy){
            alert("Please select correct location within boundry");
            return;
        }

        $('#id_latitude').val(map_obj.getCenter().lat());
        $('#id_longitude').val(map_obj.getCenter().lng());
        $('#id_accuracy').val(window.deviceLocation.accuracy + 'm');

        if (!$("form")[0].reportValidity()){
            alert("Please check data and update location")
            return;
        }

        $("form").submit();

    }
    </script>
{% endblock %}
