<div class="card-body pb-0 p-2">
    <div class="card address_form">
        <div class="p-2 form_block">
            <table>
                <tr>
                    <th></th>
                    <th>New</th>
                    <th>Old</th>
                </tr>
                <tr>
                    <td>House Type:</td>
                    <td>{{ obj.form_data.new_address.house_type }}</td>
                    <td>{{ obj.form_data.old_address.house_type }}</td>
                </tr>
                <tr>
                    <td>House No:</td>
                    <td>{{ obj.form_data.new_address.house_no }}</td>
                    <td>{{ obj.form_data.old_address.house_no }}</td>
                </tr>
                <tr>
                    <td>Room No:</td>
                    <td>{{ obj.form_data.new_address.room_no }}</td>
                    <td>{{ obj.form_data.old_address.room_no }}</td>
                </tr>
                <tr>
                    <td>Floor:</td>
                    <td>{{ obj.form_data.new_address.floor }}</td>
                    <td>{{ obj.form_data.old_address.floor }}</td>
                </tr>
                <tr>
                    <td>Street No:</td>
                    <td>{{ obj.form_data.new_address.street_no }}</td>
                    <td>{{ obj.form_data.old_address.street_no }}</td>
                </tr>
                <tr>
                    <td>Landmark:</td>
                    <td>{{ obj.form_data.new_address.landmark }}</td>
                    <td>{{ obj.form_data.old_address.landmark }}</td>
                </tr>
                <tr>
                    <td>Village:</td>
                    <td>{{ obj.form_data.new_address.village }}</td>
                    <td>{{ obj.form_data.old_address.village }}</td>
                </tr>
                <tr>
                    <td>Ward No:</td>
                    <td>{{ obj.form_data.new_address.ward_no }}</td>
                    <td>{{ obj.form_data.old_address.ward_no }}</td>
                </tr>
                <tr>
                    <td>Post Office:</td>
                    <td>{{ obj.form_data.new_address.post_office }}</td>
                    <td>{{ obj.form_data.old_address.post_office }}</td>
                </tr>
                <tr>
                    <td>Pin Code:</td>
                    <td>{{ obj.form_data.new_address.pincode }}</td>
                    <td>{{ obj.form_data.old_address.pincode }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
