{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<style>
    .hidden-field{ display: none;}
</style>
{% csrf_token %}
<div class="m-0 form_label p-2">


    <div class="card card-profile pt-0 mt-0 " >
		<div class="row justify-content-center m-0" style="margin: 0 auto !important; padding: 10px;">
			<div style="width:30%; float:left">
				<div class="card-profile-image">
					<a href="#">
						<img style="max-height:200px" src="{{obj.parent.document_self}}">
					</a>
				</div>
			</div>
			<div style="width:70%; float:right">
				<div class="card-body pt-0">
					<div class="text-center">
						<h5 class="h3">{{ obj.parent.name }}({{ obj.parent.id }})<span class="font-weight-light"></span></h5>
						<div class="h5 font-weight-300">
							<i class="ni location_pin mr-2"></i>{{ obj.parent.contact_mobile }}
						</div>
						<div class="h5 mt-1" style=" word-wrap: break-word; font-size: 13px;">
							{% if address_json == address_json  %}
								{% for key,data in obj.parent.address_json.items %}
									{{data}},
								{% endfor %}
							{% else %}
								{{ obj.parent.address }}
							{% endif%}
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<div class="main-header bg-heading mb-2">
{#    <span class="text-white text">{{ obj.parent.is_sv_uploaded }}</span>#}
{#    <br>#}
    <span class="text-white text">{{ obj.parent.get_physical_legal_documents_status }}</span>
</div>


<div class="card-footer p-1 multi_buttons">
	<div class="row">
		<div class="col">
			<a style="width: 100%;" class="text-white  btn btn-danger" href="{% url 'ujjwala:legal_documents_upload' pk=obj.id %}" target="_blank">
				<i class="material-icons">cloud_upload</i> Legal Documents
			</a>
		</div>
		<div class="col">
			<a style="width: 100%;" class="text-white  btn btn-danger" href="{% url 'ujjwala:legal_documents_upload' pk=obj.id %}" target="_blank">
				<i class="material-icons">send</i> Send  Link 
			</a>
		</div>
	</div>

	<a style=" width: 100%;" class="text-white btn btn-danger mb-3 float-right" 
		href="{{ obj.parent.physical_legal_document_link }}" target="_blank">
		<i class="material-icons">cloud_download</i>
		Form ABC
	</a>
	<a id="print_form_abc" style="width:100% ;"
	class="{% if not bridge_available %}disabled {% endif %}text-white btn btn-danger mb-2"
	onclick="sendPrint('print_form_abc', '{{ bridge_link }}/print_pdf?url={{ obj.parent.physical_legal_document_link }}')"> 
		<span><i class="material-icons">local_printshop</i> Print Form ABC</span>
	</a>
	{% if not bridge_available %}																																							
		<p class="alert alert-primary" role="alert" style="width:100% ;"> <i class="material-icons left">info_outline</i> Bridge Not Available, Unable to print</p>
	{% endif %}
    <a class="text-white btn btn-danger mb-3 float-left " href="{% url 'ujjwala:connection_disbursement_list' %}">
        <i class="material-icons">keyboard_backspace</i> Back To Walk In List
    </a>
    {% if obj.status == 'LEGAL_DOCUMENTS_REVIEW' %}
        <a class="text-white btn btn-danger mb-3 float-right" href="{% url 'ujjwala:connection_disbursement_review_form_abc_view' pk=obj.id %}">
            <i class="material-icons">arrow_forward</i> Review Form ABC
        </a></div>
    {% endif %}
	<!-- <div class="card-footer">
		<a class="text-white btn btn-danger mb-3 float-left " href="{% url 'ujjwala:connection_disbursement_sv_label_print_list' %}">
			<i class="material-icons">keyboard_backspace</i> BACK TO LIST VIEW
		</a>
		<a class="text-white btn btn-danger mb-3 float-right" href="{% url 'ujjwala:connection_disbursement_review_form_abc_view' pk=obj.id %}">
			<i class="material-icons">arrow_forward</i> NEXT
		</a>
	</div> -->
</div>
<style>
</style>
<script>
function sendPrint(elementId, url) {
  $(`#${elementId}`).addClass('disabled');
  var jqxhr = $.get(url)
  .done(function() {
    alert("Print Command Sent");
  })
  .fail(function() {
    alert("Printing Failed");
  })
  .always(function() {
    $(`#${elementId}`).removeClass('disabled');
  });
}
</script>


{% endblock %}
