{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}List Change Cylinder Type Request{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    {% include 'ujjwala/pagination.html' %}
    <div class="p-2 pt-0 form_label" style="width: 100%;">
        {% for obj in object_list %}
            <div class="card mb-2 app_card" id="{{ obj.id }}_div">
                <div class="card-header pl-2" style="background-color: lightsalmon">
                    <p class="float-left">
                        <i class="fa fa-file-text"></i><a href="{% url 'ujjwala:change_cylinder_type_request' pk=obj.id %}" data-turbolinks="false"> {{ obj.id }} - <b>{{ obj.status }}</b></a>
                    </p>
                    <p class="float-right">
                        <i class='fa fa-user-circle'></i><a href="{% url 'ujjwala:ujjwala_customer_profile' pk=obj.parent.id %}"><b style="font-size: 16px"> {{ obj.parent.name }}</b></a>
                    </p>
                </div>
                <div class="card-body pb-0 p-2 block">
                    <ul class="m-0 list-body">
                        <li>
                            <p class="float-left"><i class="fa fa-calendar" aria-hidden="true"></i> {{ obj.created_on }}</p>
                            <p class="float-right"><i class="fa fa-sharp fa-solid fa-phone"></i>
                                <a href="tel:{{obj.parent.contact_mobile}}" data-turbolinks="false">
                                   <span class="text-primary" style="font-weight: 600;"> {{ obj.parent.contact_mobile }}</span>
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="card-footer p-2 block">
                    <p style="font-size: 13px"><i class="fa fa-address-card-o" style="font-size: 14px"></i> {{ obj.parent.get_address_for_sdms_upload.addr_str }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'ujjwala/pagination.html' %}

    <script>
        window.onload=function(){

        const input = document.getElementById("input");
        const getName = document.getElementById("getName");

        getName.addEventListener("submit", e =>{
            // Prevent the form from submission
            e.preventDefault();
            // Get city name and store it in local storage
            var inputVal = getName.value;
            var api_url = "{apiurl}" + inputVal;
            // Get the dataset
            function refreshData() {
                fetch(api_url).then(response =>{
                    response.json().then(json => {
                        let dataset = json;
                        let output = formatResponse(dataset);

                    })
                    // Catch error - for example, the user doesn't input a valid name
                    .catch(error => console.log("not ok")); // TO BE IMPROVED
                })
            };
        });
     };
    </script>

{% endblock %}