{% extends "material/frontend/base_module.html" %}
{% load static %}
{% load material_form %}
{% block page_title %}<span style="font-size:16px;">Customer Profile Search</span>{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >
    <link rel="stylesheet" href="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://arungas.com/public/ujwalla/css/signature-pad.css">
    <script src="https://releases.transloadit.com/uppy/v2.13.1/uppy.min.js"></script>
    <div class="main p-2 pt-0 form_label">
        <form method="post">
            {% csrf_token %}
            <div class="card p-2">
                <div class="card-body">
                    {% form form=form %}{% endform %}
                </div>
                <div class="card-footer p-2">
                    <input class="btn btn-primary rounded-3 float-right" type="submit"  value="Submit"/>
                </div>
            </div>
        </form>
    </div>
    <style>
        input:-webkit-autofill+label{ transform:none;}
    </style>
{% endblock %}