{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}Customer Profile - {{ obj.name }}{% endblock %}
{% block content %}
{% load connection_app_utils %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
{% if obj %}
    <div class="p-2 pt-0 form_label application_form" style="width: 100%;">
        <div class="card">
            <div class="status_block">
                <div class="main-header">
                    <span class="text-black back_button">
                        <input class="btn btn-secondary" type="button" value="Back" onclick="history.back()" /> Consumer Id: {{ obj.consumer_id }}
                    </span>
{#                    <span class="float-right"><b><a data-turbolinks="false" href="{% url 'admin:ujjwala_ujjwalav2application_change' object_id=obj.id %}">{{ obj.id }}</a></b></span>#}
                    <span class="float-right"><b><a data-turbolinks="false" href="{% url 'admin:connection_app_customerprofile_change' object_id=obj.id %}">{{ obj.id }}</a></b></span>
                </div>
            </div>
            <div class="card-body pb-0 p-0 list_block">
                <div class="row m-0">
                    <div class="col-8 p-0">
                        <table>
                            <tr>
                                <td>
                                    <p>Relationship Status: <b>{{ obj.relationship_status }}</b><br>
                                    <p> Address: <b>{{ obj.primary_account_address }}</b></p>
                                    <p>Phone: <b>{{ obj.mobile_number }}</b></p>
                                    <p>Location: <b><a href="https://www.google.com/maps/@{{ obj.latitude }},{{ obj.longitude }},15z">
                                        {{ obj.latitude }},{{ obj.longitude }} <i class="fa fa-globe" style="color:steelblue; position: relative; top: 2px;" aria-hidden="true"></i></a></b></p>
                                    <p>Product: <b>{{ obj.products }}</b></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-4 p-0">
                        <img class="p-1" src="{{ obj.document_self }}" style="height: 125px; object-fit:contain; width: 100%;">
                    </div>
                </div>
            </div>
            <div>
               <table class="table-bordred">
                <thead>
                    <tr>
                        <th>Phone #</th>
                        <th>Primary</th>
                        <th>Use Type</th>
                        <th>Verified Flag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for phone in obj.phones %}
                        <tr>
                            <td>{{ phone|get:"Phone #" }}</td>
                            <td>{{ phone|get:'Primary' }}</td>
                            <td>{{ phone|get:'Use Type' }}</td>
                            <td>{{ phone|get:'Verified Flag' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="status_block">
                <div class="main-header">
                    <span class=""><b>Documents:</b></span>
                </div>
                <table class="table table-bordred" style="margin-bottom: 0;">
                    <tr>
                        <td colspan="2">
                            <div style="overflow: scroll; display: flex;">
                                {% for doc in obj.documents.all %}
                                    <div>
                                        <a href="{{ doc.link }}">
                                            <img class="p-1" src="{{ doc.link }}" style="height: 100px; object-fit:contain; width: 100%;" alt="{{ doc.type }}">
                                        </a>
                                        <p style="text-align: center">{{ doc.get_type_display }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% for fm in obj.family_members.all %}
                        <tr><td colspan="2">Family Members {{ fm.name }} {{ fm.dob }} {{ fm.relation }}: </td></tr>
                        <tr>
                            <td colspan="2">
                                <div style="overflow: scroll; display: flex;">
                                    <div>
                                        <a href="{{ fm.uid_front_link }}">
                                            <img class="p-1" src="{{ fm.uid_front_link }}" style="height: 100px; object-fit:contain; width: 100%;" alt="{{ doc.type }}">
                                        </a>
                                        <p style="text-align: center">Front UID</p>
                                    </div>
                                    <div>
                                        <a href="{{ fm.uid_back_link }}">
                                            <img class="p-1" src="{{ fm.uid_back_link }}" style="height: 100px; object-fit:contain; width: 100%;" alt="{{ doc.type }}">
                                        </a>
                                        <p style="text-align: center">Back UID</p>`
                                    </div>
                                </div>
                            </td>
                    </tr>
                    {% endfor %}
                </table>
                <table class="post_inspection"> 
                    <tr class="card-header">
                        <th colspan="6" style="font-weight:bold; padding-left: 10px;"><b>Post-Inspection Status:</b> </th>
                    </tr>
                    <tr >
                        <td>
                            Kitchen
                            <p>
                            {% if obj.post_inspection.kitchen_photo_updated %}
                                <i class="fa fa-check-square text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger"></i>
                            {% endif %}
                            </p>
                        </td>
                        <td>
                            Main gate
                            <p>
                            {% if obj.post_inspection.main_gate_photo_updated %}
                                <i class="fa fa-check-square text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger"></i>
                            {% endif %}
                            </p>
                        </td>
                    <td>
                            Address
                            <p>
                            {% if obj.post_inspection.address_updated %}
                                <i class="fa fa-check-square text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger"></i>
                            {% endif %}
                            </p>
                        </td>

                        </td>
                    <td>Suraksha Pipe
                            <p>
                            {% if obj.post_inspection.suraksha_pipe_updated %}
                                <i class="fa fa-check-square text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger"></i>
                            {% endif %}
                            </p>

                        </td>
                    <td>Profile Photo
                            <p>
                            {% if obj.post_inspection.profile_photo_updated %}
                                <i class="fa fa-check-square text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger"></i>
                            {% endif %}
                            </p>
                        </td>

                    <td>UID Photos
                            <p>
                            {% if obj.post_inspection.uid_photo_updated %}
                                <i class="fa fa-check-square text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times text-danger"></i>
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr class="card-header">
                        <th class="p-2" colspan="6" style="font-weight:bold; padding-left: 10px;"><b>Last Sales Order:</b> </th>
                    </tr>
                    <tr>
                        <td colspan="6" class="p-0">
                            <table class="last_sale_order ">
                                {% for so in obj.salesorder_set.all|dictsortreversed:"order_date"|slice:":4" %}
                                    <tr>
                                        <td>{{ so.order_date|date:'d-m-Y' }}</td>
                                        <td>{{ so.invoice_number }}</td>
                                        <td>{{ so.order_status }}</td>
                                        <td>{{ so.delivery_type }}</td>
                                        <td>{{ so.delivery_date|date:'d-m-Y' }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><p>Bank Certificate Photo</p></td>
                        <td colspan="4">
                            <p style="float: right;">
                                <a href="{% url 'customer_profile_document_upload'  pk=obj.pk %}" data-turbolinks="false" class="text_link text-primary">Update Bank Certificate Photo</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a class="btn btn-primary text-white float-right" href="{% url 'generate_lead_form' pk=obj.pk %}">Generate Lead</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endif %}
<style>
    .post_inspection tr td{ padding:5px 0;}
    .post_inspection tr td{ text-align: center !important; margin: 0; padding:5px;}
    .status_block .main-header{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        background-color: #efefef;
        font-weight: bold;
        font-size: 14px;
    }
    .text_link{ text-decoration: underline; font-weight: bold !important;}
    .application_form .list_block th, .application_form .list_block td, .status_block th,.application_form .list_block td { font-size: 0.9rem;}
    .table.table-bordred:last-child tr{ border-bottom: transparent;}
    .search_form input{ padding: 0 10px !important; width: 96% !important;  }
    .link_wh:hover{ text-decoration: underline !important;}
    .back_button input{ border:1px solid transparent; padding: 0 10px !important; margin: 0 0 10px 0 !important; cursor: pointer; margin-right:10px; padding: 5px 10px; 
        height: 30px !important;}
    body .form_label .back_button .btn { height: 30px !important; text-transform:capitalize; margin: 0 10px 0 0 !important; }  
    .last_sale_order tr td{ font-size: 12px; font-weight: 600; padding:  ; }
</style>
{% endblock %}
