{% load static %}
<!DOCTYPE html>

<head>
	<title>ARUN GAS SERVICE</title>
	<link rel="icon" type="image/png" href="img/logo2.png">
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,600,800&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
 	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js"></script>

	<script>

		function keys(event) {
			var keyCode = event.which;
			if (keyCode >= 65 && keyCode <= 90 || keyCode >= 97 && keyCode <= 122 || keyCode >= 32 && keyCode <= 33) {
				return true;
			}
			else {
				event.preventDefault();
			}
		}

		function digits(event) {
			var keyCode = event.which;

			if (keyCode >= 48 && keyCode <= 57) {
				return true;

			}
			else {
				event.preventDefault();
			}
		}
		function digit(event) {
			var keyCode = event.which;

			if (keyCode >= 48 && keyCode <= 57 || keyCode >= 65 && keyCode <= 90 || keyCode >= 97 && keyCode <= 122) {
				return true;
			}
			else {
				event.preventDefault();
			}
		}

		function valid() {
			let files = [
				validateUppy(customerpictureuppy, 'CUSTOMER_PHOTO', 'Customer Picture or Selfie (ग्राहक की फोटो)*', true),
				validateUppy(aadharcarduppy, 'UID_FRONT', 'Aadhar Card Frontside Picture (आधार कार्ड की फोटो)*', true),
				validateUppy(aadharcardbackuppy, 'UID_BACK', 'Aadhar Card Backside Picture (आधार कार्ड की फोटो)*', true),
				validateUppy(identificationuppy, 'OTHER_ID_PROOF', 'Any Other Identification Card', false),
				validateUppy(bankdetailuppy, 'BANK_DETAIL', 'Bank Detail (पास बुक का विवरण)', false)
			]

			if (!files.reduce((aggr, current) => { return current.valid && aggr }, true)) {
				let error = files.reduce((aggr, current) => {
					if (current.msg) {
						return aggr + '\n' + current.msg
					} else {
						return aggr
					}
				}, '');
				window.alert(error);
				return null;
			}
			let documentArray = files.filter(e => e.url).map(e => { return { type: e.key, link: e.url } });
			console.log(documentArray);
			return documentArray;
		}

		function validateUppy(uppyObj, key, label, fileMandatory) {

			if (!uppyObj.state || uppyObj.state.totalProgress == 0) {
				if (fileMandatory) {
					return {
						valid: false, key: key,
						msg: `${label} is required`
					};
				}
				return { valid: true };
			} else if (uppyObj.state.totalProgress < 100) {
				return { valid: false, key: key, msg: `${label} upload in Progress(अपलोड प्रगति पर है)` };
			} else {
				return { valid: true, key: key, url: Object.values(uppyObj.state.files)[0].uploadURL };
			}
		}

		var initialData = {
			"mobile": "",
			"referral_code": "",
		};

		function fillInitialData() {
			Object.entries(initialData).forEach((keyValue) => {
				$(`[name=${keyValue[0]}]`).val(keyValue[1]);
			})
		}


	</script>
</head>

<body>
	
	<div class="container register">
		<div class="form-contain">
			<div id="form_hide">
			 <img style="width:100%; height:250px;" src="{% static 'img/logo2.png'  %}"> 
				<h3 class="text-center">Form to Apply New Domestic LPG Gas Connection</h3>
				<h4 class="text-center">नया घरेलू गैस कनेक्शन आवेदन करने के लिए फार्म</h4><br>
				<form class="form-horizontal" action="" id="punjab" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<p>Mobile Number. (फोन नंबर)<strong style="color:red">*</strong></p>
						<input type="text" class="form-control" id="mobile" pattern="[6789][0-9]{9}" name="mobile"
							onkeypress="return digits(event)" value="" maxlength="10"  required />
						<span id="mobile_detail" class="text-danger"></span>
					</div>
					<div class="form-group">
						<p>Your Name (आपका नाम)<strong style="color:red">*</strong></p>
						<input type="text" class="form-control" id="customername" name="name" value="" required />
						<span id="customername_detail" class="text-danger"></span>
					</div>
					<div class="form-group">
						<p>Current Address (वर्तमान पता)<strong style="color:red">*</strong></p>
						<input type="text" class="form-control" id="currentaddress" name="address" value=""
							required>
						<span id="currentaddress_detail" class="text-danger"></span>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-2 col">
								<p>Your Picture or Selfie(ग्राहक की फोटो)<strong style="color:red">*</strong>
								</p><br>
								<span class="custom-file-input" name="customerpicture"
									id="customerpicture"></span><br>
								<span id="customerpicture_detail" class="text-danger"></span>
							</div>
							<div class="col-sm-2 col">
								<p>Aadhar Card Front Photo (आधार कार्ड की फोटो)<strong
										style="color:red">*</strong></p>
								<span class="custom-file-input" name="aadharcard" id="aadharcard">
								</span><br>
							</div>
							<div class="col-sm-2 col">
								<p>Aadhar Card Back Photo (आधार कार्ड की फोटो)<strong style="color:red">*</strong>
								</p>
								<span class="custom-file-input" name="aadharcardback" id="aadharcardback">
								</span><br>
							</div>
							<div class="col-sm-2 col">
								<p>Bank Detail (पास बुक का विवरण)</p><br>
								<span class="custom-file-input" id="bankdetail" name="bankdetail"></span><br>
							</div>
							<div class="col-sm-3 col">
								<p>Any Other Identification Proof <br>(कोई अन्य पहचान पत्र)</p><br>
								<span class="custom-file-input" name="OTHER_ID_PROOF"
									id="identification"></span><br>
							</div>
							
						</div>
					</div>
					<div class="form-group">
						<p>Application Type (किस लिए आवेदन)<strong style="color:red">*</strong></p>
						<div class="input-block">
							<input type="radio" class="form-check-input" name="application_type" value="NEW_CONNECTION"
							required>
							<span style="padding-left:10px;"> New Connection (नया कनेक्शन)</span>
						</div>
						<div class="input-block">
							<input type="radio" class="form-check-input" name="application_type" value="BLUE_BOOK" required>
							<span style="padding-left:10px;"> Gas Book (गैस कॉपी)</span>
						</div>
					</div>
					<div class="form-group">
						<p>Connection Type (गैस कनेक्शन का प्रकार)<strong style="color:red">*</strong></p>
						<select class="selectpicker form-control" data-style="warning" name="connection_type"
							required>
							<option value="" selected="selected">Select Connection Type (गैस कनेक्शन प्रकार चुनें)</option>
							<option value="FC14#SINGLE">14.2 KG Single Connection (14.2 किलो सिंगल कनेक्शन)</option>
							<option value="FC14#DOUBLE">14.2 Kg Double Connection (14.2 किलो डबल कनेक्श)</option>
							<option value="FC5#SINGLE">5 KG Single Connection (5 किलो सिंगल कनेक्श)</option>
							<option value="FC5#DOUBLE">5 KG Double Connection (5 किलो डबल कनेक्श)</option>
						</select>
					</div>
					<div class="form-group">
						<p>Referral Code</p>
						<input type="text" class="form-control" id="reference" name="referral_code" value="">
						<br>
						<input type="submit" id="submit" name="submit" value="submit" class="btn btn-success">
					</div>
				</form>
				<br>
			</div>
			<div id="cus_id"></div>
			<div id="application_receipt">
				<span id="app_id"></span>
				<span id="app_id_creation"></span>
			</div>

			<div id="message"></div>
		</div>
	</div>
	<script>
	function getCookie(name) {
		let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		$('#punjab').on('submit', function (event) {
			event.preventDefault();
			let documentArray = valid();
			if(documentArray == null) return;

			let formdata = $('form').serializeArray()
				.reduce(function (accum, item) {

					if (-1 === ['ignoreThis', 'andThat'].indexOf(item.name)) {

						if (item.value !== null) {
							accum[item.name] = item.value;
						}
					}
					return accum;
				},
					{}
				);

			formdata.documents = documentArray;

			formdata.item_code = formdata.connection_type.split('#')[0];
			formdata.connection_type = formdata.connection_type.split('#')[1];

			console.log(formdata);

				 
			

			jQuery('#submit').val('Please wait...');
			jQuery('#submit').attr('disabled', true);

			var formData = new FormData(this);

			jQuery.ajax({
				url: '/connection-app/connection-application/wf/',
				type: 'POST',
				data: JSON.stringify(formdata),
				contentType: "application/json; charset=utf-8",
				dataType: 'JSON',
				headers: {'X-CSRFToken': getCookie('csrftoken')},

				processData: false,
				success: function (result) {

					$('#form_hide').hide();
					console.log(result);
					jQuery('#punjab')['0'].reset();
					jQuery('#submit').val('Submit');
					jQuery('#submit').attr('disabled', false);
					swal({
						title: "successful",
						text: "Thank You",
						icon: "success",
					})

					$("#message").html('<div class="alert alert-success" style="color:red; text-align:center; margin-top:250px;"><strong>SUCCESS!</strong> 	your application has been submitted</div>');

					$("#cus_id").append(result);
					$("#message").append(result.id).css({ "text-align": "center" }).append(" <b>is you application Id</b>.");

					$('#application_receipt').show();
					$('#cus_id').attr('id');
				}
			});
		});
		
		$(document).ready(function () {
			fillInitialData();
			$("#mobile").blur(function(){
			var mobile = $("#mobile").val();
			if (!mobile) return;
			$("#mobile_detail").show();
			$("#mobile_detail").html('<img style="width:18px; margin-left:10px;" src="{% static "img/pre.gif"  %}" align="left">&nbsp;Checking application...');
// 			http://dca.arungas.com/connection-app/connection-application/check_phone/?mobile=6393700696
//  http://dca.arungas.com/connection-app/connection-application/9/status/

		jQuery.ajax({
			url: '/connection-app/connection-application/check_phone/',
			type: "GET",
			data: {'mobile': mobile},
			success: function (data) {
				
				response = data;
				if (response.status === true) {
					$("#mobile_detail").show();
					$("#mobile_detail").html('✔ Available for New Application').css({'color': 'green', 'margin-left':'22px', 'font-size' : '17px'});
					return true;	
				} else {
					var proceed = confirm(
						`You already Fill the Application.
If you want to change your mobile number click on cancel otherwise click on OK! to check the application status.

आप पहले ही आवेदन भर चुके हैं। अगर आप अपना मोबाइल नंबर बदलना चाहते हैं तो कैंसिल पर क्लिक करें अन्यथा ओके पर क्लिक करें!
आवेदन भरे हुए स्थिति की जांच करने के लिए।`
					);
					
					if (proceed) {
						window.location.href = response.application_url;
						return false;
					} else {
						$('#mobile').val('');
						$('#mobile').focus();
						$("#mobile_detail").show();
						$("#mobile_detail").html('Please Provide New Mobile Number').css({'color': 'green', 'margin-left':'20px', 'font-size' : '17px'});
					}
					}
					},	
					});	
			});

		window.customerpictureuppy = new Uppy.Core({
			debug: true,
			autoProceed: true,
			restrictions: {
				maxFileSize: 50000000,
				maxNumberOfFiles: 1,
				minNumberOfFiles: 1,
				allowedFileTypes: ['image/*'],
				//requiredMetaFields: ['caption'],
			}
		})
				.use(Uppy.Dashboard, {
					trigger: '#customerpicture',
					inline: true,
					target: '#customerpicture',
					showProgressDetails: true,
					note: 'Images and video only, 2–3 files, up to 10 MB',
					height: 250,
					metaFields: [],
					id: 'customerpicture',
					browserBackButtonClose: false
				})
				.use(Uppy.Tus, {
					endpoint: 'https://tus.dca.arungas.com/files/',
				})
			customerpictureuppy.on('complete', result => {
				console.log('successful files:', result.successful)
				console.log('failed files:', result.failed)
			})

			window.aadharcarduppy = new Uppy.Core({
				debug: true,
				autoProceed: true,
				restrictions: {
					maxFileSize: 50000000,
					maxNumberOfFiles: 1,
					minNumberOfFiles: 1,
					allowedFileTypes: ['image/*'],
					//requiredMetaFields: ['caption'],
				}
			})
				.use(Uppy.Dashboard, {
					trigger: '#aadharcard',
					inline: true,
					target: '#aadharcard',
					showProgressDetails: true,
					note: 'Images and video only, 2–3 files, up to 10 MB',
					height: 250,
					metaFields: [],
					id: 'aadharcard',
					browserBackButtonClose: false
				})
				.use(Uppy.Tus, {
					endpoint: 'https://tus.dca.arungas.com/files/',
				})
			aadharcarduppy.on('complete', result => {
				console.log('successful files:', result.successful)
				console.log('failed files:', result.failed)
			})

			window.aadharcardbackuppy = new Uppy.Core({
				debug: true,
				autoProceed: true,
				restrictions: {
					maxFileSize: 50000000,
					maxNumberOfFiles: 1,
					minNumberOfFiles: 1,
					allowedFileTypes: ['image/*'],
					//requiredMetaFields: ['caption'],
				}
			})
				.use(Uppy.Dashboard, {
					trigger: '#aadharcardback',
					inline: true,
					target: '#aadharcardback',
					showProgressDetails: true,
					note: 'Images and video only, 2–3 files, up to 10 MB',
					height: 250,
					metaFields: [],
					id: 'aadharcardback',
					browserBackButtonClose: false
				})
				.use(Uppy.Tus, {
					endpoint: 'https://tus.dca.arungas.com/files/',
				})
			aadharcarduppy.on('complete', result => {
				console.log('successful files:', result.successful)
				console.log('failed files:', result.failed)
			})


			window.identificationuppy = new Uppy.Core({
				debug: true,
				autoProceed: true,
				restrictions: {
					maxFileSize: 50000000,
					maxNumberOfFiles: 1,
					minNumberOfFiles: 1,
					allowedFileTypes: ['image/*'],
					//requiredMetaFields: ['caption'],
				}
			})
				.use(Uppy.Dashboard, {
					trigger: '#identification',
					inline: true,
					target: '#identification',
					showProgressDetails: true,
					note: 'Images and video only, 2–3 files, up to 10 MB',
					height: 250,
					metaFields: [],
					id: 'identification',
					browserBackButtonClose: false
				})
				.use(Uppy.Tus, {
					endpoint: 'https://tus.dca.arungas.com/files/',
				})
			identificationuppy.on('complete', result => {
				console.log('successful files:', result.successful)
				console.log('failed files:', result.failed)
			})


			window.bankdetailuppy = new Uppy.Core({
				debug: true,
				autoProceed: true,
				restrictions: {
					maxFileSize: 50000000,
					maxNumberOfFiles: 1,
					minNumberOfFiles: 1,
					allowedFileTypes: ['image/*'],
					//requiredMetaFields: ['caption'],
				}
			})
				.use(Uppy.Dashboard, {
					trigger: '#bankdetail',
					inline: true,
					target: '#bankdetail',
					showProgressDetails: true,
					note: 'Images and video only, 2–3 files, up to 10 MB',
					height: 250,
					metaFields: [],
					id: 'bankdetail',
					browserBackButtonClose: false
				})
				.use(Uppy.Tus, {
					endpoint: 'https://tus.dca.arungas.com/files/',
				})
			bankdetailuppy.on('complete', result => {
				console.log('successful files:', result.successful)
				console.log('failed files:', result.failed)
			})
		});
	</script>
</body>

</html>
<style type="text/css">
	body {
		font-family: 'Roboto Slab', serif;
	}

	.form-contain {
		background-color: #fff;
		padding:20px;
		float: left;
		width: 100%;
	}

	.register {
		background: -webkit-linear-gradient(left, #DA1500, #FEA400);
		margin-top:1%;
		padding: 1%;
	}

	.register-left {
		text-align: center;
		color: #fff;
		margin-top: 4%;
	}

	.register-left input {
		border: none;
		border-radius: 1.5rem;
		padding: 2%;
		width: 60%;
		background: #f8f9fa;
		font-weight: bold;
		color: #383d41;
		margin-top: 30%;
		margin-bottom: 3%;
		cursor: pointer;
	}

	.register-right {
		background: #f8f9fa;

	}

	.register-left img {
		margin-top: 15%;
		margin-bottom: 5%;
		width: 25%;
		-webkit-animation: mover 2s infinite alternate;
		animation: mover 1s infinite alternate;
	}

	@-webkit-keyframes mover {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(-20px);
		}
	}

	@keyframes mover {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(-20px);
		}
	}

	.register-left p {
		font-weight: lighter;
		padding: 12%;
		margin-top: -9%;
	}

	.register .register-form {
		padding: 10%;
		margin-top: 10%;
	}

	.btnRegister {
		float: right;
		margin-top: 10%;
		border: none;
		border-radius: 1.5rem;
		padding: 2%;
		background: #0062cc;
		color: #fff;
		font-weight: 600;
		width: 50%;
		cursor: pointer;
	}

	.register .nav-tabs {
		margin-top: 3%;
		border: none;
		background: #0062cc;
		border-radius: 1.5rem;
		width: 28%;
		float: right;
	}

	.register .nav-tabs .nav-link {
		padding: 2%;
		height: 34px;
		font-weight: 600;
		color: #fff;
		border-top-right-radius: 1.5rem;
		border-bottom-right-radius: 1.5rem;
	}

	.register .nav-tabs .nav-link:hover {
		border: none;
	}

	.register .nav-tabs .nav-link.active {
		width: 100px;
		color: #0062cc;
		border: 2px solid #0062cc;
		border-top-left-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;
	}

	.register-heading {
		text-align: center;
		margin-top: 8%;
		margin-bottom: -15%;
		color: #495057;
	h: 100px;
		color: #0062cc;
		border: 2px solid #0062cc;
		border-top-left-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;
	}

	.register-heading {
		text-align: center;
		margin-top: 8%;
		margin-bottom: -15%;
		color: #495057;
	