{% load static %}
<!DOCTYPE html>

<head>
	
	
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,600,800&amp;display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js"></script>
 
	<style>
		.form-group{ float: left; margin-left:0px; width: 76%; background: #ececec; border: 1px solid #ddd;  padding: 10px;}
		.video {margin-left:0px;}
		.buttons {margin-left:150px;}
	   .form-group p label{  width: 50%; float: left; padding-left: 10px;}
	   .form-group p span{ font-weight: normal; float: left;}
	   .form-group p{ float: right; width: 100%;}
		.readonly{ float: left; width: 100%; margin: 0 !important;}
	   label{  font-weight: bold;}
	   .field-lead_details_in_html .readonly{ margin-left: 0 !important;}
	   .image_module{ display: flex; padding: 10px 0;}
	   .image_module a{ flex: 1; margin: 0 auto; text-align: center; margin: 10px 0;}
	   .image_module a img{ width:100%; padding: 10px; border: 1px solid #ccc; height: 150px; margin-bottom: 10px;}
	   select.form-control:not([size]):not([multiple]) {
	   height: calc(2.25rem + 10px) !important;
	}
	
	
		@media screen and (min-width:200px) and (max-width:1300px)
					{
					.videos {margin-left:50px;}
					.form-group{margin-left:50px;}
					.buttons {margin-left:150px;}
					.iddetail {margin-left:50px;}
					}
	
</style>
	<script>
		function valid() {
			let files = [];
			
			documentsRequired.forEach(documentType => {
				details = documentTypesList[documentType];
				uppy = window.uppy_ins[documentType];
				files.push(
					validateUppy(uppy, documentType, details.label, true)
				)
			});

			if (!files.reduce((aggr, current) => { return current.valid && aggr }, true)) {
				let error = files.reduce((aggr, current) => {
					if (current.msg) {
						return aggr + '\n' + current.msg
					} else {
						return aggr
					}
				}, '');
				window.alert(error);
				return null;
			}
			let documentArray = files.filter(e => e.url).map(e => { return { type: e.key, link: e.url } });
			console.log(documentArray);
			return documentArray;
		}

		function validateUppy(uppyObj, key, label, fileMandatory) {

			if (!uppyObj.state || uppyObj.state.totalProgress == 0) {
				if (fileMandatory) {
					return {
						valid: false, key: key,
						msg: `${label} is required`
					};
				}
				return { valid: true };
			} else if (uppyObj.state.totalProgress < 100) {
				return { valid: false, key: key, msg: `${label} upload in Progress(अपलोड प्रगति पर है)` };
			} else {
				return { valid: true, key: key, url: Object.values(uppyObj.state.files)[0].uploadURL };
			}
		}
	</script>
</head>

<body>

    <div class="container px-1 px-md-4 py-5 mx-auto">
        <h3 class="text-center"></h3>
        <h4 class="text-center"></h4>
        <div class="card">
            <div class="row d-flex justify-content-between px-3 top">
                <div class="d-flex">
                <h5 style="font-size:15px;" class="text-info font-weight-bold iddetail">Your Application Id is : <span class="text-info font-weight-bold">{{ object.pk }}</span></h5>
                    </div>
                    <div class="form-group">
                        <p>
                            <label>Name:</label> 
                            <td class="col-md-6">{{object.name}}</td>
                        </p>
                        <p>
                            <label>Contact:</label> 
                            <td class="col-md-6">{{object.mobile}}</td>
                        </p>
                        <p>
                            <label>Address:</label> 
                            <td class="col-md-6">{{object.address}}</td>
                        </p>
                        <p>
                            <label>Application Type:</label> 
                            <td class="col-md-6">{{object.application_type}}</td>
                        </p>
                        <p>
                            <label>Item:</label> 
                            <td class="col-md-6">{{object.item_code}}</td>
                        </p>
                        <p>
                            <label>Connection Type:</label> 
                            <td class="col-md-6">{{object.connection_type}}</td>
                        </p>
                    
                    </div>
				
            </div>
			<h5 class="iddetail">See below video how to upload kitchen photo.</h5>

			<video width="280" height="240" class="videos" controls>
				<source src="movie.mp4" type="video/mp4">
			  </video>
			
        </div>
    </div>


	<div class="container register">
		<div class="form-contain">
			<div id="form_hide">
				<form class="form-horizontal" action="" id="punjab" method="POST" enctype="multipart/form-data">
						<div class="row">
						<div id="uppy_row" class="row">
						</div>
						</div>
					<br>	
					<input class="btn btn-success buttons" type="submit" id="submit" name="submit" value="submit" >
				</form><br>
			</div>
			<div id="cus_id"></div>
			<div id="application_receipt">
				<span id="app_id"></span>
				<span id="app_id_creation"></span>
			</div>
			<div id="message"></div>
		</div>
	</div>
	<script>

	let documentsRequired = ['CUSTOMER_PHOTO'];
	
	let documentTypesList = {
		CUSTOMER_PHOTO: {label: "Kitchen Photo (रसोई की फोटो)"},
	}
	
	$(document).ready(function(){
		window.uppy_ins = {};
		documentsRequired.forEach(documentType => {
			details = documentTypesList[documentType];
			$("#uppy_row").append(`
				<div class ="col-sm-2 col">
					<p>${details.label}
					</p>
					<span
						class="custom-file-input"
						name="customerpicture"
						id="${documentType}"
					></span>
					<span id="${documentType}_detail" class="text-danger"></span>
				</div>
			`);
			initUppy(documentType);
		});
	});


	function getCookie(name) {
		let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		
	$('#punjab').on('submit', function (event) {
		event.preventDefault();
		let documentArray = valid();
		if(documentArray == null) return;

		let formdata = $('form').serializeArray()
			.reduce(function (accum, item) {

				if (-1 === ['ignoreThis', 'andThat'].indexOf(item.name)) {

					if (item.value !== null) {
						accum[item.name] = item.value;
					}
				}
				return accum;
			},
				{}
			);

		formdata.documents = documentArray;

		console.log(formdata);

		jQuery('#submit').val('Please wait...');
		jQuery('#submit').attr('disabled', true);

		var formData = new FormData(this);

		jQuery.ajax({
			url: '/connection-app/connection-application/wf/',
			type: 'POST',
			data: JSON.stringify(formdata),
			contentType: "application/json; charset=utf-8",
			dataType: 'JSON',
			headers: {'X-CSRFToken': getCookie('csrftoken')},

			processData: false,
			success: function (result) {

				$('#form_hide').hide();
				console.log(result);
				jQuery('#punjab')['0'].reset();
			}
		});
	});
	
	function initUppy(doc_id){

		window.uppy_ins[doc_id] = new Uppy.Core({
			debug: true,
			autoProceed: true,
			restrictions: {
				maxFileSize: 50000000,
				maxNumberOfFiles: 1,
				minNumberOfFiles: 1,
				allowedFileTypes: ['image/*'],
				//requiredMetaFields: ['caption'],
			}
		})
		.use(Uppy.Dashboard, {
			trigger: `#${doc_id}`,
			inline: true,
			target: `#${doc_id}`,
			showProgressDetails: true,
			note: 'Images and video only, 2–3 files, up to 10 MB',
			height: 250,
			metaFields: [],
			id: `#${doc_id}`,
			browserBackButtonClose: false
		})
		.use(Uppy.Tus, {
			endpoint: 'https://tus.dca.arungas.com/files/',
		});
		
		window.uppy_ins[doc_id].on('complete', result => {
			console.log('successful files:', result.successful)
			console.log('failed files:', result.failed)
		});
	}
	</script>
</body>
</html>
