{% load connection_app_utils %}

{% if user.is_authenticated %}
    <div class="sidebar">
        <ul class="nav-links">
            <li class="submenu_level2">
                <a href="{% url 'connection_app:customer_grid_menu_view' %}" data-turbolinks="false">
                    <i class="fas fa-users"></i> Customer
                </a>
            </li>

            {% if user|has_post_inspection_permission %}
            <li class="submenu_level2">
                <a href="{% url 'connection_app:inspection_grid_menu_view' %}" data-turbolinks="false">
                    <i class="fas fa-search"></i> Inspection
                </a>
            </li>
            {% endif %}

            <li class="submenu_level2">
                <a href="{% url 'connection_app:sales_order_grid_menu_view' %}" data-turbolinks="false">
                    <i class="fas fa-shopping-cart"></i> Sales Order
                </a>
            </li>
            <li class="submenu_level2">
                <a href="{% url 'connection_app:sales_grid_menu_view' %}" data-turbolinks="false">
                    <i class="fas fa-chart-line"></i> Sales
                </a>
            </li>
            <li class="submenu_level2">
                <a href="{% url 'connection_app:update_sdms_login_password' %}" data-turbolinks="false">
                    <i class="fas fa-key"></i> Delivery App Password
                </a>
            </li>
       

            {% if user|allowed_admin_tools %}
                <li class="submenu_level2">
                    <a href="{% url 'connection_app:update_distributor_login_details' %}" data-turbolinks="false">
                        <i class="fas fa-user-shield"></i> Distributor Password
                    </a>
                </li>
                <li class="submenu_level2">
                    <a href="{% url 'connection_app:admin_tools_grid_menu_view' %}" data-turbolinks="false">
                        <i class="fas fa-tools"></i> Admin Tools
                    </a>
                </li>
            {% endif %}
            <li class="submenu_level2">
                <a href="{% url 'connection_app:omc_conversion_request' %}" data-turbolinks="false">
                    <i class="fas fa-key"></i> LPG OMC Change Request
                </a>
                <a href="{% url 'connection_app:omc_conversion_request_list' %}" data-turbolinks="false">
                    <i class="fas fa-list"></i> LPG OMC Change Request List
                </a>
            </li>
        </ul>
    </div>

    <!-- Ensure Font Awesome is loaded -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endif %}
<style>
    .sidenav-fixed .collapsible-body li a{ padding-left: 30px !important; }
    html body .submenu_level2 i{ margin-right: 0 !important;}
    .sidenav li{
		min-height: 30px !important;
	 }
	 .sidenav-fixed li {
		min-height: 48px !important;
	 }
    .submenu_level2 a {
       color: #666  !important;
    }
</style>