{% extends 'fsm_admin2/fsm_transition_form.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<link href="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js"></script> 
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
    input[name="sv_doc_url"]{ display: none !important;}
    .block{ float: left; width: 100%;}
    .mt10{ margin-top: 10px;}
    .thumbnail-slider { width: 600px; margin: 0 auto }
    .thumbnail-slider .main-item { height: 90vh; border: 1px solid #ddd; }
    .thumbnail-slider .main-item img { object-fit: contain; height: 100%;  width: 100%;}
    .thumbnail-slider .thumb-items { margin-top: 5px;padding-left: 0 !important; margin:18px 0px 0px 120px;}
    .thumbnail-slider .thumb-item { display: inline-block; margin-right: 5px; vertical-align: middle; width: 60px; height: 60px }
    .thumbnail-slider .thumb-item img { border: 2px solid transparent; width: 100%; height: 100%; object-fit: cover; object-position: center; cursor: pointer } 
    .thumbnail-slider .thumb-item.active img { border-color: rgb(255, 255, 255) }
   
</style>
<div class="cotainer">
    <div class="col-md-6">
            {{ obj.lead_details_in_html }}
            <div class="block form-group mt10 verified_form">
            <h1>{% if transition.custom.short_description %}{{ transition.custom.short_description }}{% else %}{{ transition.name }}{% endif %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% translate 'Apply' %}">
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="image_module">
            <div class="thumbnail-slider">
                <div class="main-item">
                    <div class="actions_img">
                        <button id="rotate_btn" type="button" value="Rotate"><i class="fa fa-undo" aria-hidden="true"></i></button>
                    </div>
                    <img id="zoom_img" class="zoom" src="{{ obj.documents.first.link }}">
                </div>
                <ul class="thumb-items">
                    {% for doc in obj.documents.all %}
                    <li class="thumb-item active"><img src="{{ doc.link }}"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
</div>

<script type="text/javascript" src="{% static 'js/jquery-rotate.min.js' %}"></script>
<script src="{% static 'js/wheelzoom.js' %}"></script>
<script type="text/javascript">
            
        function validateUppy(uppyObj, key, label, fileMandatory) {

            if (!uppyObj.state || uppyObj.state.totalProgress == 0) {
                if (fileMandatory) {
                    return {
                        valid: false, key: key, 
                        msg: `${label} is required` 
                    };
                }
                return {valid: true};
            } else if (uppyObj.state.totalProgress < 100) {
                return {valid: false, key: key, msg: `${label} upload in Progress`};
            } else {
                return {valid: true, key: key, url: Object.values(uppyObj.state.files)[0].uploadURL};
            }
        }



    $(document).ready(function(){
        if ($('form input[name=sv_doc_url]').length == 0) return;
        
        $('form input[name=sv_doc_url]').parent().append('<span id="uppy_sv"></span>')

        window.id_sv_doc_urluppy = new Uppy.Core({
            debug: true,
            autoProceed: true,
            restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['.pdf'],
                //requiredMetaFields: ['caption'],
            }
        })

        .use(Uppy.Dashboard, {
            trigger: '#uppy_sv',
            inline: true,
            target: '#uppy_sv',
            showProgressDetails: true,
            //note: 'Images and video only, 2–3 files, up to 10 MB',
            height: 200,
            metaFields: [],
            id: 'uppy_sv',
            browserBackButtonClose: false
        })
        .use(Uppy.Tus, {
            endpoint: 'https://tus.dca.arungas.com/files/',
        });

        id_sv_doc_urluppy.on('complete', result => {
            console.log('successful files:', result.successful)
            console.log('failed files:', result.failed)
        });

        $('form').on('submit', function(event) {
            let svUpload = validateUppy(id_sv_doc_urluppy, 'uppy_sv', 'SV Doc Required', true);
                if (!svUpload.valid) {
                    event.preventDefault();
                    window.alert("Upload SV document");
                }
                $('form input[name=sv_doc_url]').val(svUpload.url);
                
        });
				

    });

    jQuery('.thumbnail-slider .thumb-item').on('click', function() {
		jQuery('.thumbnail-slider .thumb-item').removeClass('active');
        jQuery(this).addClass('active');
        var imgSrc = jQuery(this).find('img').attr('src');
        jQuery('.thumbnail-slider .main-item img').attr('src', imgSrc);
       
    });
    var angle = 0;
        $('#rotate_btn').on('click', function() {
        angle += 90;
        $("#zoom_img").rotate(angle);
    });
    wheelzoom(document.querySelector('img.zoom'));

</script>
{% endblock %}