{% extends 'fsm_admin2/fsm_transition_form.html' %}

{% load i18n %}

{% block content %}
{#    {% if obj.status == FRONT_OFFICE_SV %}#}

{#    {% endif %}#}
    {{ obj.lead_details_in_html }}
    {{ block.super }}
    <span id="sv_doc_url_parent"></span>
    <link href="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.css" rel="stylesheet">
    <script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js">
        $(document).ready(function(){
            fillInitialData();
            window.svdocuppy = new Uppy.Core({
              debug: true,
              autoProceed: true,
              restrictions: {
                maxFileSize: 50000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*'],
                //requiredMetaFields: ['caption'],
              }
            })
            .use(Uppy.Dashboard, {
                  trigger: '#sv_doc_url_parent',
                  inline: true,
                  target: '#sv_doc_url_parent',
                  showProgressDetails: true,
                  note: 'Images and video only, 2–3 files, up to 10 MB',
                  height: 470,
                  metaFields: [],
                  id: 'sv_doc_url_parent',
                  browserBackButtonClose: false
            })
            .use(Uppy.Tus, {
                endpoint: 'https://tusd.tusdemo.net/files/',
            })
            svdocuppy.on('complete', result => {
                {#console.log('successful files:', result.successful)#}
                {#console.log('failed files:', result.failed)#}
            })
        });
    </script>
{% endblock %}