{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}Ujjwala Customer Profile{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
{% if obj %}
    <div class="p-2 pt-0 form_label application_form" style="width: 100%;">
        <div class="card">
            <div class="status_block">
                <div class="main-header">
                    <span class="text-black">Application Id: </span>
                    <span class="float-right"><b><a data-turbolinks="false" href="{% url 'admin:ujjwala_ujjwalav2application_change' object_id=obj.id %}">{{ obj.id }}</a></b>
                    <input type="button" value="Back" onclick="history.back()" /></span>
                </div>
            </div>
            <div class="card-body pb-0 p-0 list_block">
                <div class="row m-0">
                    <div class="col-8 p-0">
                        <table>
                            <tr>
                                <td>Name: <b>{{ obj.name }}</b>
                                <br>Address: <b>{{ obj.formatted_address }}</b>
                                <br>
                                    {% for contact in obj.all_contacts %}
                                        <p>Phone {{ forloop.counter }}: <b><a href="tel:{{ contact}}" onclick="return true;">{{contact}}</a></b></p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Consumer Id: <b>{{ obj.consumer_id }}</b></p>
                                    <p>Location: <a href="https://www.google.com/maps/@{{ obj.latitude }},{{ obj.longitude }},15z"><b>{{ obj.latitude }},{{ obj.longitude }}</b></a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-4 p-0">
                        <img class="p-1" src="{{ obj.document_self }}" style="height: 150px; object-fit:contain; width: 100%;">
                    </div>
                </div>
            </div>
            <div class="status_block">
                <div class="main-header">
                    <span class="text-black">Status</span>
                    <span class="float-right"><b>{{obj.get_status_display}}</b></span>
                </div>
                <table class="table table-bordred" style="margin-bottom: 0;">
                    <tr>
                        <th>Pre-Inspection Status: </th>
                        <td>
                            {% if obj.pre_inspection %}
                                {{obj.pre_inspection.get_status_display}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" >
                            <div style="overflow: scroll; display: flex;">
                                {% if obj.pre_inspection %}
                                    {% for doc in obj.pre_inspection.documents.all %}
                                        {% if doc.type != 'PHYSICAL_LEGAL_DOCUMENT' and doc.type != 'SAFETY_AUDIO' %}
                                            <div>
                                                <a href="{{ doc.link }}">
                                                    <img class="p-1" src="{{ doc.link }}" style="height: 150px; object-fit:contain; width: 100%;" alt="{{ doc.type }}">
                                                </a>
                                                <br>
                                                <p style="text-align: center">{{ doc.get_type_display }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Connection Disbursement Status: </th>
                        <td>
                            {% if obj.connection_disbursement %}
                                {{ obj.connection_disbursement.get_status_display }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="overflow: scroll; display: flex;">
                                {% if obj.connection_disbursement %}
                                    {% for doc in obj.connection_disbursement.documents.all %}
                                        <div>
                                            <a href="{{ doc.link }}">
                                                <img class="p-1" src="{{ doc.link }}" style="height: 150px; object-fit:contain; width: 100%;" alt="{{ doc.type }}">
                                            </a>
                                            <p style="text-align: center">{{ doc.get_type_display }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <p>Logs :</p>
            </div>
            <div>
                <table>
                    {% for state_log in state_logs %}
                        <tr>
                            <td width="25%">{{ state_log.state }}</td><td>{{ state_log.description }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="card-footer" style="background-color: lightgray">
                <p class="text-right"><input type="button" value="Back" onclick="history.back()"/></p>
            </div>
        </div>
    </div>
{% endif %}
<style>
    .status_block .main-header{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        background-color: #efefef;
        font-weight: bold;
        font-size: 14px;
    }
    .text_link{ text-decoration: underline; font-weight: bold !important;}
    .application_form .list_block th, .application_form .list_block td, .status_block th,.application_form .list_block td { font-size: 0.9rem;}
    .table.table-bordred:last-child tr{ border-bottom: transparent;}
    .search_form input{ padding: 0 10px !important; width: 96% !important;  }
    .link_wh:hover{ text-decoration: underline !important;}
</style>
{% endblock %}
