{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}Review Form A B C List{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    {% include 'ujjwala/pagination.html' %}
    <div class="p-2 pt-0 form_label" style="width: 100%;">
        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{msg.message}}
            </div>
          {% endfor %}
        {% endif %}
        {% include 'ujjwala/disbursement/forms/application_search.html' %}
        <div class="main-header bg-heading" style="background-color: #2957A4;">
            <span class="text-white">Legal Documents Under Review List</span>
        </div>

        {% for obj in object_list %}
        <div class="card mb-2 app_card">
            <a class="text-under-n" href="{% url 'ujjwala:review_form_abc_view' pk=obj.id %}" data-turbolinks="false">
                <div class="card-header">
                    <p class="text-center text-dark"><b>{{ obj.status }}</b>
                         <br>
                        <span>Updated On <b>{{ obj.updated_on }}</b> </span>
                    </p>
                </div>
                <div class="card-body pb-0 p-2 list_block">
                    <ul class="m-0">
                        <li>
                            <p class="float-left">Application Id</p>
                            <p class="float-right"><b>({{ obj.parent_id }})</b></p>
                        </li>
                        <li>
                            <p class="float-left">Connection Disbursement Id</p>
                            <p class="float-right"><b>({{obj.id}})</b></p>
                        </li>
                        <li>
                            <p class="float-left">Name</p>
                            <p class="float-right"><b>{{ obj.parent.name }}</b></p>
                        </li>
                        {% for contact in  obj.parent.all_contacts %}
                        <li class="contact_link">
                            <p class="float-left">Phone  {{ forloop.counter }}</p>
                            <p class="float-right">
                                <b> <a href="tel:{{ contact }}" onclick="return true;">{{contact}}</a></b>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </a>


        </div>
        {% endfor %}
    </div>
    {% include 'ujjwala/pagination.html' %}
{% endblock %}