{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}Audit List{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    {% include 'ujjwala/pagination.html' %}
    <div class="p-2 pt-0 form_label" style="width: 100%;">
        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{msg.message}}
            </div>
          {% endfor %}
        {% endif %}
        {% include 'ujjwala/disbursement/forms/application_search.html' %}
        {% for obj in object_list %}
        <div class="mb-2 app_card">
            <a class="text-under-n " style="display: block;"  href="{% url 'ujjwala:ujjwala_application_audit' pk=obj.id %}" data-turbolinks="false">
                <div class="card mb-2 app_card">
                    <div class="card-header float-left" style="width:100%">
                        <p class="float-left">Updated On {{ obj.updated_on }}</p>
                        <p class="float-right text-dark">Application Id <b>({{ obj.id }})</b></p>
                    </div>
                    <div class="card-body pb-0 p-2 list_block">
                        <ul class="m-0">
                            <li>
                                <p class="float-left">Name</p>
                                <p class="float-right"><b>{{ obj.name }}</b></p>
                            </li>
                            {% for contact in  obj.all_contacts %}
                            <li class="contact_link">
                                <p class="float-left">Phone  {{ forloop.counter }}</p>
                                <p class="float-right">
                                    <b> <a href="tel:{{ contact }}" onclick="return true;">{{contact}}</a></b>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer p-2">
                        <p><b>Address: </b>{{ obj.parent.formatted_address }}</p>
                    </div>
                </div>
             </a>
        </div>
        {% endfor %}
    </div>
    {% include 'ujjwala/pagination.html' %}
{% endblock %}