<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        .image{
          border-radius:  10px 10px 0 0px;
        }

        .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 380;
          border-radius: 10px;
          margin: 0 auto;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        .container {
          padding: 2px 16px;
        }

        </style>
</head>
<body>
    <div class="card">
        <img class="image" src="Z:\PycharmProjects\domestic_app\static\img\reference_data\Banner21_2024.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>नमस्कार जी 🙏🏻</b></h4> 
            <h4>अरूण गैस में आपका स्वागत है |</h4> 
            <p>फ्री उज्जवला गैस कनेक्शन के लिए आपका अवेदन एप्लीकेशन नंबर {{application_id}} सिस्टम में दर्ज कर दिया गया है।</p>
            <p>आपसे अनुरोध है की आप अपने आवेदन की ekyc करवाने के लिए अपना आधारकार्ड, बैंक पासबुक, मोबाइल फोन और यदि आप विवाहित हैं तो अपने पति का आधारकार्ड यदि आप अविवाहित हैं तो अपने माता एवं पिता का आधारकार्ड दोपहर शाम 3 से 8 बजे तक 01615201005 पर कॉल करके पहुंचे।</p> 
            <p>आपका आवेदन फॉर्म पूर्ण करने के लिए यह अनिवार्य है।</p>
            <p>आपकी सेवा में समर्पित</p>
            <p>🔥अरूण गैस सर्विस🔥</p><br><br>
            <p>जरूरी सूचना (यह सेवा निशुल्क है। यदि कोई भी आप से इस सेवा का शुल्क मांगे तो आप इस नंबर पर 01615201005 व्हाट्सएप करे ।)</p>
            <p><b>---------------------------------------------------</b></p>
            <p><a  href="https://www.facebook.com/arungasindane">https://www.facebook.com/arungasindane</a></p>
            <a><a href="https://www.instagram.com/arungasindane">https://www.instagram.com/arungasindane</a></p>
            <p><b>धन्यवाद</b></p>
            <p><b>जय हिन्द जय भारत 🇮🇳</b></p>
        </div>
      </div>
</body>
</html>