{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    

    <div class="pt-0 form_label card" style="width: 100%; max-width: 400px; margin:0 auto;">
        <div class="status text-center">
            <div class="card-header p-4 bg-success">
                <i class="material-icons text-white" style="font-size: 40px;">check_circle</i>
                <p style="font-size:12px" class="text-white">{{installation.status}}</p>
            </div>
            <div class="card-body">
                <h5 class="text-dark mb-0">
                    {{ installation.parent.name }} {{installation.id}} <br>
                    <span style="font-size: 11px; color: #c4d5f1;"> 
                        {{ installation.submitted_on }}
                    </span> 
                </h5>    
                <p>{{ installation.parent.formatted_address }}</p>
            </div>
        </div>

    </div>
    
{% endblock %}