{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block page_title %}CD SV Label Print{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<div class="p-2 pt-0 form_label" style="width: 100%;">
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{msg.message}}
        </div>
      {% endfor %}
    {% endif %}
    {% include 'ujjwala/disbursement/custom-template/disbursement_drive_detail.html' %}
    {% include 'ujjwala/disbursement/forms/application_search.html' %}
    <div class="main-header bg-heading" style="background-color: #2957A4;">
        <span class="text-white">List of Connection Disbursement Records walkin confirmation </span>
    </div>
    {% for obj in object_list %}
    <div class="card mb-2 app_card">
        <a href="{% url 'ujjwala:connection_disbursement_sv_label_print_view' pk=obj.id %}" data-turbolinks="false">
            <div class="card-header">
                <p class="text-center"><b>{{ obj.status }}</b> <br>
                    Updated On <b>{{ obj.updated_on }}</b></p>
            </div>
            <div class="card-body pb-0 p-2 list_block">
                <ul class="m-0">
                    <li>
                        <p class="float-left">Application Id ({{ obj.parent_id }})</p>
                        <p class="float-right">Connection Disbursement Id({{obj.id}})</p>
                    </li>
                    <li>
                        <p class="float-left">Name</p>
                        <p class="float-right">{{ obj.parent.name }}</p>
                    </li>
                    <li class="contact_link">
                        {% for contact in  obj.parent.all_contacts %}
                        <p class="float-left">Phone {{ forloop.counter }}</p>
                        <p class="float-right">
                            <b> <a href="tel:{{ contact}}" onclick="return true;">{{contact}}</a></b>      
                        </p>
                        {% endfor %}
                    </li>
                    <li class="float-right">
                        <p class="float-right">
                        {% if obj.valid_sv_link %}
                            <b style="background-color: darkgreen; color: white">SV Generated</b>
                        {% elif obj.sv_generated_not_downloaded %}
                            <b style="background-color: darkorange; color: white">SV Not Generated</b>
                        {% else %}
                            <b style="background-color: darkred; color: white">SV Not Generated</b>
                        {% endif %}
                        </p>
                    </li>
                </ul>
            </div>
        </a>
        <div class="card-footer p-2">
            <p><b>Address:</b>  {{ obj.parent.formatted_address }}</p>
        </div>
    </div>
    {% endfor %}
{#    {% include 'ujjwala/disbursement/custom-template/disbursement-card-detail.html' %}#}
</div>

    <!-- <script>
        window.onload=function(){

        const input = document.getElementById("input");
        const getName = document.getElementById("getName");

        getName.addEventListener("submit", e =>{
            // Prevent the form from submission
            e.preventDefault();
            // Get city name and store it in local storage
            var inputVal = getName.value;
            var api_url = "{apiurl}" + inputVal;
            // Get the dataset
            function refreshData() {
                fetch(api_url).then(response =>{
                    response.json().then(json => {
                        let dataset = json;
                        let output = formatResponse(dataset);

                    })
                    // Catch error - for example, the user doesn't input a valid name
                    .catch(error => console.log("not ok")); // TO BE IMPROVED
                })
            };
        });
     };
    </script> -->

{% endblock %}
