{% extends "material/frontend/base_module.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<style>
    .hidden-field{ display: none;}
</style>
<div class="form_label p-2">
    {% include 'ujjwala/disbursement/custom-template/application_detail_template.html' %}>
    <form method="post" id="form" >
        {% csrf_token %}
        <div class="card pt-4">
			<div class="p-2">
				{{ form }}
				<a class="btn btn-danger text-white mb-3 {% if not obj.valid_sv_link %}disabled{% endif %}" style="width: 100%;" href="{{ obj.valid_sv_link }}" target="_blank">
					<i class="material-icons">local_printshop</i> Download SV
                </a>

				<div class="row m-0 multi_buttons mb-2">
					<div class="col pl-1">
						<a id="print_label" class="btn btn-danger text-white {% if not bridge_available %}disabled{% endif %}" style="width: 100%;"
						onclick="sendPrint('print_label', '{{ bridge_link }}/print_label?url={{bluebook_label_print_url}}')">
						<i class="material-icons">local_printshop</i>Print Label
						</a>
					</div>
					<div class="col pr-1">
						<a id="print_sv" class="btn btn-danger text-white {% if bridge_available and obj.valid_sv_link %}{% else %}disabled{% endif %}" style="width: 100%;"
						onclick="sendPrint('print_sv', '{{ bridge_link }}/print_ujjwala_sv?url={{ obj.valid_sv_link }}')">
						<i class="material-icons">local_printshop</i> Print SV
						</a>
					</div>
					<div class="col pr-1">
						<a id="print_pdf" class="btn btn-danger text-white {% if bridge_available and obj.form_d_link %}{% else %}disabled{% endif %}" style="width: 100%;"
						onclick="sendPrint('print_pdf', '{{ bridge_link }}/print_pdf?url={{ obj.form_d_link }}')">
						<i class="material-icons">local_printshop</i> Print Form D
						</a>
					</div>
                    <div class="col pr-1">
						<a id="print_pdf" class="btn btn-danger text-white {% if bridge_available and obj.form_d_link %}{% else %}disabled{% endif %}" style="width: 100%;"
						onclick="sendPrint('multi_print_pdf', '{{ bridge_link }}/multi_print_pdf?url=[{{ obj.valid_sv_link }}, {{ obj.valid_sv_link }}, {{ obj.form_d_link }}]')">
						<i class="material-icons">local_printshop</i> Print SV and Form D
						</a>
					</div>
				</div>
                </br>

				{% if not bridge_available %}																																							
				<p class="alert alert-primary mb-3" role="alert" style="width:100% ;">
                    <i class="material-icons left">info_outline</i>  Bridge Not Available, Unable to print
                </p>
				{% endif %}
                {% if not obj.valid_sv_link %}
                <p class="alert alert-primary mb-3" role="alert" style="width:100% ;">
                    <i class="material-icons left">info_outline</i>  SV not Uploaded
                </p>
                {% endif %}

    			<p class="pl-2 mt-5" style=" font-weight: 600;"><input required id="accept_form_abc_check" type="checkbox" style="opacity: 1; margin-right:10px; position:relative; pointer-events: unset;" >I have collected Signed Form ABC and SV Voucher from Customer.</p>
			</div>
            <div class="card-footer">
                <input class="btn btn-primary text-white float-left" type="submit" value="Submit And Back" name="_back_list_view">
                <input class="btn btn-primary text-white float-right" type="submit" value="Submit And Next" name="_next_form_view">
{#                <input class="btn btn-primary float-right" type="submit" id="form"  value="Submit"/>#}
            </div>
        </div>
    </form>
</div>

<script>
function sendPrint(elementId, url) {
  $(`#${elementId}`).addClass('disabled');
  var jqxhr = $.get(url)
  .done(function() {
    alert("Print Command Sent");
  })
  .fail(function() {
    alert("Printing Failed");
  })
  .always(function() {
    $(`#${elementId}`).removeClass('disabled');
  });
}
</script>


{% endblock %}
